[2017-10-05 08:08] dsznajder opened #4 "Add flow snippets"

[2017-10-09 09:27] rajdee opened #5 "Add options"
I think that we should have some options for the codestyle code
for example:

- using semicolons
- using single quotes or selecting quotes type

[2017-10-09 09:31] dsznajder commented on #5
@rajdee For me it is not a problem as long as you are using VSCode eslint `auto-fix` because it corrects this after save. I can investigate if there is any possibility to change quotes and semicolons for snippets dynamically but I've seen many packages which were just cloned and changed for using semicolons.

[2017-10-12 08:26] #5 closed

[2017-12-20 13:09] Onra opened #8 "Provide a PDF cheat sheet of all commands"

[2018-01-03 11:59] schickling opened #9 "Use graphql-config"
In case you're adding support for schema-aware GraphQL functionality, it would be great if you would consider using [`graphql-config`](https://github.com/graphcool/graphql-config) as foundation for the configuration.

[2018-03-11 11:17] #4 closed

[2018-03-26 21:31] anvarov commented on #8
yes it would be very useful

[2018-03-28 07:07] dsznajder commented on #8
I can generate for now a pdf directly from markdown but it is not well formatted :/ If you have any ideas for that one, just leave it there

[2018-06-01 15:55] jaredjgebel commented on #8
I made a PDF cheat sheet for myself, so I wanted to share. Feel free to pull it from my Google Docs here: [https://drive.google.com/file/d/1YtP6h_8o48lVloY6QgndeV_SiP15Z1ps/view?usp=sharing](url)

I'm not sure if this kind of thing belongs in a pull request, but I'm happy to submit the PDF in one if necessary.

[2018-06-01 16:48] dsznajder commented on #8
@jaredjgebel That would be also nice if you have some command with which I could regenerate it from README.md. If you have this, feel free to open PR. I will close it ASAP 💃

[2018-06-08 01:28] audiolion opened #17 "react stateless functional component snippet"
Would you be adverse to adding the non fat arrow syntax version of a stateless functional component?

[code]

I ask because [flow recommends this style](https://flow.org/en/docs/react/components/#toc-stateless-functional-components)

[2018-06-08 06:53] dsznajder commented on #17
Hi @audiolion,  I'm not a very big fan of writing `function` word nowadays in JS. We have Babel, and other stages to transpile arrow functions. However, if we figure out how to name those you can create a PR :) I thought about `pfc` -> pureFunctionComponent and so on. What do you think?

[2018-06-08 08:55] selrond opened #18 "[feature] add prop-types import snippet"
see title

btw, @dsznajder what do you use to align markdown tables?

[2018-06-08 10:38] dsznajder commented on #18
@selrond Just VSCode :)

[2018-06-08 10:39] #18 closed

[2018-06-08 10:40] selrond commented on #18
@dsznajder some core functionality? or plugin?

[2018-06-08 10:43] dsznajder commented on #18
O, I just realized this could be `prettier`.

[2018-06-08 12:36] audiolion commented on #17
Yeah @dsznajder I don't too much either, but it is a valid way and if some codebases have opinions about styling functions then perhaps this would be useful. I suppose we could wait to see if some other people would vote 👍 on whether they would want this and if adding another keyword is worth it

[2018-06-11 13:24] selrond opened #20 "use VSCode's snippet variables for some snippets"
[Snippet variables](https://code.visualstudio.com/docs/editor/userdefinedsnippets#_variables)

for example

[code]

instead of `componentName` default string, there could be `TM_FILENAME_BASE` variable, to automatically name the component after the file name.

Saves time, it's more useful, while still stays selected, though easily rewritable.

Win-win.

[2018-06-11 17:56] selrond commented on #20
@dsznajder 👌 THX

[2018-06-12 12:28] phelma opened #23 "typo in rcredux snippet"
see #22

[2018-06-12 13:16] #23 closed

[2018-06-12 16:05] selrond commented on #20
@dsznajder how about `exp→` `export default moduleName` snippet? It would make sense to use filename base as the default as well

[2018-06-12 16:13] selrond commented on #20
and btw, `rfe` snippet is expanding to

[code]

you should use it like `${1:${TM_FILENAME_BASE}}`

[2018-06-12 20:28] dsznajder commented on #20
@selrond Oh, I failed with implementation xD. I will fix this tomorrow morning, Documentation for this is little unclear :/

[2018-06-13 12:56] Taym95 opened #24 "Mobx snippet?"
Can we add mobx import's snippet?

[2018-06-13 14:44] dsznajder commented on #24
Sure we can, but I'm not very fluent with mobx. Have you some experience with that / patterns etc. Articles / docs welcomed 💃

[2018-06-13 14:50] dsznajder commented on #9
Closing as for now I'm not seeing option to good graphql snippets implementation

[2018-06-13 14:50] #9 closed

[2018-06-13 14:50] dsznajder commented on #20
Will be released in v1.8.3 :)

[2018-06-13 14:50] #20 closed

[2018-06-13 15:46] Taym95 commented on #24
Yes, I will try to submit PR.

[2018-06-13 18:35] dsznajder commented on #24
Great :)

[2018-06-27 07:24] ypli0629 opened #26 "new snippet 'imrd'"
can we add snippet 'imrd' for 'import ReactDOM from 'react-dom''

[2018-07-20 08:44] #26 closed

[2018-08-29 01:35] WadhahEssam opened #28 "add indention options"
you use 2 spaces indention while vs code default is 4 so i need to re-indent the snippets

[2018-08-29 18:37] kcloud99 commented on #8
Could potentially set that up with either:
https://www.npmjs.com/package/markdown-pdf
or
https://www.npmjs.com/package/mdpdf

[2018-09-09 19:34] pastudan opened #29 "Provide window fetch snippet"
There are quite a few options for fetch, so I don't know how feasible this is, but I find myself typing the window fetch boilerplate quite a bit.

I often do something like this:
[code]

[2018-09-26 11:29] dsznajder commented on #24
Seems to be stale, let me know if you still need those :)

[2018-09-26 11:29] #24 closed

[2018-09-26 12:56] dsznajder commented on #28
@WadhahEssam Sorry for late response, I will today investigate this if this is possible with snippet extension :)

[2018-10-01 15:04] dsznajder commented on #28
@WadhahEssam Unfortunately I did not found anything for snippets option, If you have any advice on that related especially for snippets just leave a comment.

[2018-10-01 15:04] #28 closed

[2018-10-11 08:42] #29 closed

[2018-10-23 14:59] syedsimanta03 opened #32 "Try to add es8 and add slr etc command"
https://marketplace.visualstudio.com/items?itemName=EQuimper.react-native-react-redux

copy the snippet what u dont have

[2018-10-23 19:19] dsznajder commented on #32
You have those under `rafc` `rafce` etc.

[2018-10-23 19:19] #32 closed

[2018-10-27 10:27] mapuaptu opened #35 "Analog RCE for PureComponent."
[code]

[2018-11-01 22:42] awongCM opened #36 "React Hooks Snippets"
Any plans for providing snippets of [React Hooks](https://reactjs.org/docs/hooks-intro.html) in the future?

[2018-11-01 23:14] dsznajder commented on #36
Yes, I have it locally but until it will be released officially, I won't publish those :)

[2018-11-01 23:14] #36 closed

[2018-11-02 00:16] awongCM commented on #36
Hehe. I could hardly wait..! Thank you! 😄

[2018-11-02 17:07] dsznajder commented on #36
I hope they won't change API :D

[2018-11-03 07:58] dsznajder commented on #35
Published with `1.9.0`

[2018-11-03 07:58] #35 closed

[2018-11-13 08:43] awongCM commented on #36
Let's hope so too! XD

[2018-11-25 01:24] karlkras opened #38 "rfc is not generating arrow functional component."
Installed latest package. Run rfc<tab> result is:

[code]
Is there a configuration option to change this?

[2018-11-26 08:23] #38 closed, assigned to nobody

[2018-12-18 10:28] DevPolo opened #42 "clo→ console.log("Object", Object);"
Hi,
First, thank you for your work ;)
Could you add a new command like:

`clo→ console.log("Object", Object);`

to console.log with two cursors?

Thank you so much ;)

[2018-12-18 10:30] DevPolo commented on #42
Hi,
First, thank you for your work ;)
Could you add a new command like:

`clo→ console.log("Object", Object);`

to console.log with two cursors?

Thank you so much ;)

[2018-12-18 11:02] dsznajder commented on #42
Of course! Good idea :) I will add this even today :)

[2018-12-18 13:05] DevPolo commented on #42
Thank you so much :D

[2018-12-18 15:20] dsznajder commented on #42
@DevPolo Published in `1.9.3`

[2018-12-18 15:20] #42 closed

[2018-12-25 06:26] TetsuyaNegishi opened #46 "Optimized for TypeScript"
Hello,
Thank you for a wonderful extension.

I am making an application that reacts with TypeScript.
But, this extension is not optimized for TypeScript.

For example,
`` `
// js
import React from 'react'

/ / ts
import * as React from 'react'
`` `

I would like to fork this repository and create an extension optimized for TypeScript.
And I want to distribute it on the market.
(Of course I will fo

[2018-12-25 13:23] RatnadeepBiswakarma opened #47 "curly brace after a function name is invoking imrc command"
for few days I'm getting one issue with this snippet in VS Code, whenever I'm typing `{}` after any function name of method name followed by `()`  in `js` or `jsx` file it's invoking `imrc` command and import statement  popping up and hitting enter expanding to import statement rather than breaking to next line
![react plugins issue](https://user-images.githubusercontent.com/36644040/50423063-5bc0

[2018-12-25 13:44] dsznajder commented on #46
Hi :) No problem at all, you can fork and optimize this one for TS :)

[2018-12-25 13:44] #46 closed

[2018-12-25 13:45] dsznajder commented on #47
@RatnadeepBiswakarma I believe it's not a problem with this extension but with VSCode. Just open similar issue on main repo and let people check the config :)

[2018-12-25 13:45] #47 closed

[2018-12-25 14:16] TetsuyaNegishi commented on #46
Thank you!

[2019-01-01 15:31] monastyrskiiden opened #48 "componentDidMount wrong syntax"
**Hey, currently You're using arrow syntax:**

[code]
**But all these methods using simple function declaration syntax like so:**

``
componentDidMount(){}
``
**Please fix this issue.**

[2019-01-01 17:46] dsznajder commented on #48
@monastyrskiiden Why is this problem for you actually? It does not cause an error.

[2019-01-01 18:15] monastyrskiiden commented on #48
Actually it does. Maybe it's just my webpack configuration, but in my opinion, the better way is to follow the default syntax. **In this particular case i've used** `componentDidMount = () => {}`
![error](https://user-images.githubusercontent.com/26526916/50575190-aeaf7000-0e01-11e9-80f2-30028424fd4c.png)

[2019-01-01 19:39] dsznajder commented on #48
@monastyrskiiden Yes, it's problem with your webpack config. I won't change this syntax as I like to keep things consistent with the rest of package.
Closing for now.

[2019-01-01 19:39] #48 closed

[2019-01-03 13:56] piotrgorecki opened #49 "getDerivedStateFromProps wrong syntax"
First of all, great plugin!

Instead of `static getDerivedStateFromProps(nextProps, prevState) { }` there should be `static getDerivedStateFromProps(props, state) { }` <- [source](https://reactjs.org/docs/react-component.html#static-getderivedstatefromprops)

[2019-01-05 16:35] wzup opened #50 "How do I edit your snippets?"
How can I edit the snippets inside VScode? Is it easy?
Where are snippet definitions are stored? How to open a single snippet to alter it?

[2019-01-05 19:13] dsznajder commented on #50
https://code.visualstudio.com/docs/editor/userdefinedsnippets

[2019-01-05 19:13] #50 closed

[2019-01-23 09:37] stackerine commented on #8
The best deal would be to have a command to search in snippet.

[2019-01-31 10:21] dsznajder commented on #8
Search Available in v2.0.0

[2019-02-08 19:36] #8 closed

[2019-02-21 16:19] KevinHerklotz opened #55 "Quick use of snippet shortcuts"
I'm used to use [Emmet](https://emmet.io/) where I could just enter a shortcut and then press `Tab`.
With the `vscode-es7-javascript-react-snippets` this is not possible for me. I first have to press `CMD + Shift + P`, then start to type `ES7 snippet search` then press `Enter` and then type the shortcut and then press `Enter` again.
Within this time I would have typed the command myself.
So either

[2019-02-22 11:12] dsznajder commented on #55
It's possible in emmet because of `Emmet: Trigger Expansion On Tab` setting.
It's actually features request :) I will look into this in my free time. You can also bind `ES7 snippet search`

[2019-02-25 09:26] in-in opened #56 "There is no difference between `rafc` and `rafce`"
I think there is a reason for this :thinking: but I can't get it.

https://github.com/dsznajder/vscode-es7-javascript-react-snippets/blob/628e0d4df8e2e791c8a1e08d6c95d9718669ee03/snippets/snippets.json#L334

https://github.com/dsznajder/vscode-es7-javascript-react-snippets/blob/628e0d4df8e2e791c8a1e08d6c95d9718669ee03/snippets/snippets.json#L352

![190561551086305](https://user-images.githubuserco

[2019-02-25 18:15] dsznajder commented on #56
It's just backwards compatibility as it does not make sense to create functional component without name:
[code]

[2019-02-26 05:12] #56 closed

[2019-02-27 20:54] yuritoledo opened #57 "Hooks snippets"
Hello!

Do you pretend to add some Hooks snippets?

Thanks!

[2019-03-02 13:47] dsznajder commented on #57
Yes, I will add them in some free time :)

[2019-03-08 19:45] dsznajder commented on #57
Shipped in `2.1.0`

[2019-03-08 19:45] #57 closed

[2019-03-14 14:30] jimmywongroo commented on #5
Standard.js is not a standard. It's also far less popular and has a much much flatter trends than prettier and plain old eslint.

Please at least put the semicolons back.

https://www.npmtrends.com/standard-vs-eslint-vs-prettier

[2019-03-14 15:19] dsznajder commented on #5
@jimmywongroo This package never had semicolons, so I won't bring back anything. As I said on my first comment, you can use auto-fix for adding semicolons inside VSCode config.

[2019-03-19 20:45] jdahdah opened #61 "Intellisense doesn't work"
It appears that there is an issue with Intellisense for npm packages.

Using the `imp` snippet does not provide Intellisense auto-completion. Typing a regular import statement by hand does. I'm not sure what the root cause is. Here's a video of the issue:

https://www.youtube.com/watch?v=QOi44GXGJy0

[2019-03-19 20:55] dsznajder commented on #61
@jdahdah Woah, thanks for best reproduction I've ever seen :) However, I do not know what is happening and actually why. I will try to figure it out and search through VSCode issues. Maybe I will find something.

Thanks for reporting issue.

[2019-03-21 19:40] jdahdah commented on #61
Cheers! Let me know if I can provide any further information.

[2019-03-25 04:32] sravan-s opened #62 "Semi & singleQuotes configuration - [Not available for now]"
Hi @dsznajder, thanks for making this nice plugin. Is there an existing way to use double quotes instead of single quotes and to add semicolons?

Example ->

[code]

[2019-03-27 14:28] yuritoledo opened #64 "useState still wrong"
Hey man!

have you updated the vscode theme on editor? the `useState`still are with problem:

![image](https://user-images.githubusercontent.com/18474538/55084027-44fed500-5083-11e9-9b48-8627a741d4ba.png)

The initialState are not get the 2nd bind `${2:initialState}`

Thank you :)

[2019-03-27 15:01] dsznajder commented on #62
There is no possibility for now, but feel free to add this option :)

[2019-03-27 15:02] dsznajder commented on #64
Sorry, I forgot to release the update 😨 I've done it now, should be alive in couple of minutes :)

[2019-03-27 15:04] #64 closed

[2019-03-28 02:23] sravan-s commented on #62
I didn't check the code base yet, I will try anyways :)

[2019-04-06 17:52] dsznajder commented on #55
@KevinHerklotz I've added `CMD + Shift + R` keybinding for Snippet Search. I'm closing an issue for now. If there is anything that I missed just write it here and I will reopen.

[2019-04-06 17:52] #55 closed

[2019-04-08 17:01] polishedwp commented on #61
FYI. I reverted back to VSCode 1.32.3 (February 2019) version and everything works fine. It appears the March release broke Intellisense with snippets.

[2019-04-08 19:42] dsznajder commented on #61
@polishedwp Could you write this inside issue I've opened? :)

[2019-04-08 20:39] polishedwp commented on #61
Just did. Thanks

[2019-04-09 09:57] polishedwp commented on #61
So the suggestion from VSCODE was to use `editor.suggest.snippetsPreventQuickSuggestions`.
I did add to the settings.json and set to `false`. Snippets still don't really work.

As you can see, it still presents the loading:
![Screen Shot 2019-04-09 at 5 45 54 AM](https://user-images.githubusercontent.com/13651291/55791139-dad72e80-5a8b-11e9-8d47-f0cc2bab557a.png)

The template eventually works, af

[2019-04-09 11:11] dsznajder commented on #61
@polishedwp I've tested this on my own, and it works fine. I think it's more related now to the VSCode performance, size of Component / Project and your own hardware.

For everyone that is trying to figure it out:
![Screenshot 2019-04-09 at 13 10 38](https://user-images.githubusercontent.com/17621507/55795808-e6951600-5ac8-11e9-8124-053cb0827cca.png)

Your settings related to snippets suggestions

[2019-04-09 11:11] #61 closed

[2019-04-09 12:47] polishedwp commented on #61
Thank @dsznajder but that is my setting as indicated above. I am working on a small gatsbyjs starter so the project is small, and the only think that changed as VSCode. As long as I use VSCode 1.32.3 (February 2019) version everything is fine. But I am not sure this is your problem.

[2019-04-09 13:10] dsznajder commented on #61
@polishedwp I will try to track issue on VSCode. If there will be no answer from their side, I would propose to open another issue in their repo.

[2019-04-09 16:42] polishedwp commented on #61
Thank you ... for what it's worth a new issue was opened [today](https://github.com/Microsoft/vscode/issues/71998) which point corroborates an issue with this release of VSC.

[2019-04-10 11:15] polishedwp commented on #61
Final report for those that might experience this problem. The issue is the version of Typescript used with VSC 1.33. To fix the problem, install Typescript 3.3.3. Look here for detailed instructions at [Stackoverflow](https://stackoverflow.com/questions/39668731/what-typescript-version-is-visual-studio-code-using-how-to-update-it) on how to change TS versions in VSC.

[2019-04-10 11:44] jdahdah commented on #61
Forcing VSCode to to use TypeScript 3.3.3333 worked for me, too. Thanks @polishedwp.

[2019-05-02 21:15] mjbvz opened #65 "Set extensionKind in package.json to support Remote Development"
Hi, I'm on the VS Code team. We recently released support for [Remote Development](https://code.visualstudio.com/blogs/2019/05/02/remote-development) and I noticed that your may extension need a small change to ensure users have a good experience when using it remote workspaces.

## What is the issue?
To make remote development as transparent as possible to users, VS Code distinguishes two classes

[2019-05-03 05:55] Mlk777 opened #67 "Replace functions by arrow functions"
Hey, I know the issue had already been mentionned in #48 about **lifecycle methods using arrow function** in the documentation but not in the snippets.

What do you think about passing them to arrow functions ? Just to be consistent with the actual documentation.

[2019-05-03 12:48] #65 closed

[2019-05-03 12:50] dsznajder commented on #67
@Mlk777 Hi, I thought about this but, they are bound inside `Component` / `PureComponent` so it would be repeating the action. I think I should update the docs. They are also easily recognized by this pattern so I think it's even useful

[2019-05-04 03:08] Mlk777 commented on #67
Sounds good thank you !

[2019-05-11 09:38] #67 closed

[2019-05-13 23:30] JosephLandy opened #68 "Switch hardcoded spaces to \t?"
Hey @dsznajder,

Is there any reason not to use \t in the snippets, to support different indentation levels rather than hardcoding two spaces? I saw there was a related issue a while ago that wasn't solved.
So for the test block snippet,
[code]
Would change to
[code]
I tested it out with some snippets and it seems to work fine. \t just gets substituted to the number of spaces defined in the VS Cod

[2019-05-14 08:06] dsznajder commented on #68
@JosephLandy If it solves people problem, of course, I would like :) I've just done normal spaces as it was easier for me to define those

[2019-05-21 18:16] dsznajder commented on #68
@JosephLandy Released in `2.3.0`

[2019-05-21 18:16] #68 closed

[2019-05-22 19:39] JosephLandy commented on #68
Thanks!

[2019-05-29 05:39] anthonybrown opened #70 "Extension not working at all"
None of the snippets fire?

[2019-05-29 08:48] dsznajder commented on #70
@anthonybrown Could you add some more details? I'm using it continuously day by day and it works for me.

[2019-05-29 09:20] anthonybrown commented on #70
@dsznajder I fixed the issue.

[2019-05-29 09:20] #70 closed

[2019-06-17 18:51] Rc85 commented on #62
Single quotes is based on your vscode settings.

[2019-07-10 12:16] wouterh opened #74 "useEffect snippet is wrong"
The `useEffect` snippet should be:

[code]

In te current version, the `cleanup` is called `effect` and there is no tabstop to specify the effect.

Even more useful would be two versions of the snippet: one without cleanup and one with cleanup.

[2019-07-10 17:18] #74 closed

[2019-07-24 13:31] ReasonableDeveloper commented on #62
I'm not sure if you need this feature inside the library for another reason but there is always the possibility to have `prettier` autoformat your code based on your project preferences.

1. Insert snippet
2. Save document with prettier installed or format code via the command palette `CTRL|CMD+Shift+P => Format Document`

[2019-07-24 17:10] dsznajder commented on #62
@ReasonableDeveloper Sure, but would be nice if someone could do it without some onSave hook / format document. I'm also looking forward to add some other specific settings as `// @flow` annotation, etc. I will check once more if anything has changed

[2019-07-24 20:48] brendancarlson opened #77 "Add custom snippets"
Would it be possible to add a way to import custom snippets?

[2019-07-25 08:08] dsznajder commented on #77
@brendancarlson
You can add those on your own. This package ships only React related snippets
https://code.visualstudio.com/docs/editor/userdefinedsnippets

[2019-07-25 08:08] #77 closed

[2019-07-26 15:46] selrond opened #80 "Add styled-components import snippets"
styled-components is an extremely common import given it's the most popular css-in-js library.
It could look like this: `imsc` -> `import styled from 'styled-components'`

[2019-07-28 05:42] Rc85 commented on #62
For semi-colons, it is possible by editing snippets.json. However, not all users prefer semi-colons.

[2019-07-28 16:28] MohiuddinSumon opened #81 "Is this available for atom"
Is this available for atom editor ?

[2019-07-29 07:03] dsznajder commented on #81
@MohiuddinSumon No, I'm not using Atom anymore, this extension is exclusively

[2019-07-29 07:03] #81 closed

[2019-07-29 07:05] dsznajder commented on #80
@selrond I would like to not add some packages as this kind of imports could be add nearly to every popular package.
Sorry, but I never used styled-components commonly, only for some specific projects.

[2019-07-29 07:05] #80 closed

[2019-07-29 09:24] selrond commented on #80
@dsznajder I understand that, but you already include redux for example - many people don't use redux at all.

[2019-07-29 11:13] dsznajder commented on #80
@selrond Still redux is more than 3 times popular than `styled-components` :)

[2019-08-13 16:30] danielo515 opened #82 "Functional arrow component with default props"
Hey, thanks for this collection of snippets, it is really great.
I would love to not have to add default-props every time I bootstrap a component. Do you think that you can add an extra snippet that creates an arrow functional component with prop types and also default props?
Thanks in advance.

[2019-08-14 21:40] dsznajder commented on #82
@danielo515 Thanks for issue, but there is no `defaultProps` to any of components, so I would not add this as separate thing.

As idea you can add
[code]

and
[code]

To snippets.

[2019-08-15 15:07] danielo515 commented on #82
Yes, in fact I have one.
But that requires me to type 50% more snippets than having it just on one 🤣
What about creating a version of all the existing snippets but with defaultProps?

[2019-08-15 17:17] dsznajder commented on #82
@danielo515 If you can that would be awesome but I'm not sure about the name :) If you have any Idea just create a PR :)

[2019-09-02 18:49] djnorrisdev commented on #70
@anthonybrown What did you do to fix it? On my Windows machine, I am having the same issue (I'm on latest VS Code version). On my Mac everything works out of the box, so I'm confused as to why it doesn't work on Windows.

[2019-09-05 12:14] pubgrad commented on #57
In the docs there is nothing that tells us how to use it other than it uses hook name prefix. What does that mean?

[2019-09-05 12:23] dsznajder commented on #57
@pubgrad that means if hook exist like: ‚useState’ then snippet is called ‚useState’ and go on :) Yeah, docs could be better but i do not have time currently to improve it. If you find it hard just raise and issue or help me with PR :)

[2019-09-06 04:28] pubgrad commented on #57
@dsznajder Thanks for the response. Is there a way I can edit any snippet. For a functional component the snippet is rfc, but I would love to edit it so that it imports {useState} with React from 'react'

[2019-09-06 11:28] dsznajder commented on #57
@pubgrad you can create your own :)

Go and checkout docs on VS Code site :)

[2019-09-21 11:52] DrunkenJanna opened #84 "Make snippets usable with Emmet"
Emmet is installed by default in VSCode, also very common is adding emmet to js files to support jsx. Your extension blocks that usability, for example you can't just write div and press tab to make a div html element.

[2019-10-10 07:40] dsznajder commented on #84
@DrunkenJanna Are you sure that this is problem with extension? #55 Do you have option `Emmet: Trigger Expansion On Tab` enabled?

[2019-10-15 13:53] impulse opened #86 "Snippets for tsrfc(e) are wrong"
An example of what `tsrfc` returns:

[code]

I think the return type is specified wrong here. It should be `ReactElement` instead of `Props`.
Will do a PR.

[2019-10-15 14:24] impulse opened #88 "tsrafc does not contain a default export"
[code]

Will be considered as faulty since not containing a default export.

I'd suggest removing `tsrafc` since you cannot call `default export const X`.

[2019-10-15 14:31] #86 closed

[2019-10-20 18:10] DrunkenJanna commented on #84
Oof, sorry for the problem, I had emmet enabled for jsx only in last workspace not globally and I wasnt aware of that, im closing an issues

[2019-10-20 18:10] #84 closed

[2019-10-31 06:01] mochagungh opened #89 "fragment"
I think in react component section, better use fragment than tag div

like this :
[code]
what do you guys think?

[2019-11-07 22:20] Em-Ant opened #90 "return type for tsrfc/tsrfce should be React.ReactElement"
After fixing #86 (thank you very much !!!), the return type is still wrong.`ReactElement` is under `React` namespace. It must be imported, or referred as `React.ReactElement`

(https://github.com/dsznajder/vscode-es7-javascript-react-snippets/blob/master/snippets/ts-snippets.json#L89)

[2019-11-08 10:52] dsznajder commented on #90
@Em-Ant Sorry! I'm kinda new in whole typescript world :) I will fix it through this weekend :)

[2019-11-09 13:04] GGDinesh opened #91 "typescript"
Issue Type: <b>Bug</b>

The TypeScript language service died 5 times right after it got started. The service will not be restarted.

Extension version: 2.4.4
VS Code version: Code 1.40.0 (86405ea23e3937316009fc27c9361deee66ffbf5, 2019-11-06T17:02:13.381Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3230M CPU @ 2

[2019-11-09 14:37] dsznajder commented on #91
@GGDinesh I'm not sure what should I do with this. I'm pretty sure that it's not related to this extension, more likely to new VSCode TS 3.7.

[2019-11-09 14:37] #91 closed

[2019-11-11 08:06] horne3754sg opened #92 "impt returns incorrect Import"
When I type impt to import the propTypes it returns the following:

`import PropTypes from 'prop-types'`

but it should return propTypes with a lowercased p

`import propTypes from 'prop-types'`

[2019-11-12 08:51] dsznajder commented on #92
@horne3754sg I disagree. Even in docs you have upper cased.
https://reactjs.org/docs/typechecking-with-proptypes.html

[2019-11-12 08:51] #92 closed

[2019-11-12 14:22] impulse commented on #90
@Em-Ant the return type is not wrong. I just forgot to import ReactElement in my fix, sorry! Seems @dsznajder didn't have time so I am submitting a PR.

[2019-11-13 08:04] #90 closed

[2019-11-27 17:15] mescalito opened #95 "JSON.stringify()"
I'm surprised there is no snippet for stringify JSON.stringify()

JSON.stringify({ uno: 1, dos: 2 }, null, '\t');

Can you please add it?
Thanks!

[2019-11-27 18:30] dsznajder commented on #95
@mescalito `JSON.stringify` is not related directly to React :)

[2019-11-27 18:30] #95 closed

[2019-12-19 15:32] dsznajder commented on #88
@impulse removed in 2.5.0 :)

[2019-12-19 15:32] #88 closed

[2019-12-21 21:51] gjones604 opened #97 "Only works once before having to restart VSCode"
I love this extension and use it daily, but all of a sudden it only works once before I have to restart VSCode. Not really sure why, I've tried disabling all other extensions and the problem persists.

[2019-12-24 13:11] nparoski commented on #97
I have this issue as well, it started happening few days ago.

Visual Studio Code version: 1.41.1, es7-javascript-react-snippets version 2.5.0

[2019-12-26 02:44] JackieChan1994 commented on #97
I rollback vscode version to 1.40.1,and it works

[2020-01-01 12:29] ekaone opened #98 "After update to latest version"
Issue Type: <b>Bug</b>

After update my VS Code to latest version, React ES7 extension (snippets) can not working properly, show me how to use previous version..really can not working

Extension version: 2.5.0
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:58:56.166Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value

[2020-01-02 08:44] dsznajder commented on #98
#97

[2020-01-02 08:44] #98 closed

[2020-01-02 10:07] dsznajder commented on #97
Looks like issue in VSCode unfortunately. I search for issue but for now, I recommend using shortcut to trigger search menu (CMD + Shift + R on Mac).

[2020-01-02 21:15] gjones604 commented on #97
CTRL + Alt + R for Windows

[2020-01-06 14:17] PunitLodha opened #99 "rafce and rafc have same code in documentation"
![Screenshot_2020-01-06 dsznajder vscode-es7-javascript-react-snippets](https://user-images.githubusercontent.com/48253287/71823434-39821500-30bd-11ea-8b11-67d4ce4a4021.png)

[2020-01-07 08:33] #99 closed

[2020-01-13 07:57] fauzanelka commented on #62
It would be good if you add this as an option. If it turned on it will add semicolon, vice versa.

[2020-01-16 17:34] trailofdad commented on #62
I'd like to see this as an option as well. I've never contributed before but this seems like it might be a good first issue 😄

[2020-01-16 17:56] dsznajder commented on #62
@trailofdad The problem is, I didn't see any options to pass them into `snippets.json` file. This extension already contain some options and commands already so it won't be a problem to set them but, can't read them on side of template.

[2020-01-16 18:45] trailofdad commented on #62
@dsznajder Forgive me if this is a silly idea, because I have no experience with plugin dev at the moment. Would be be possible to do a string replace on the single quotes when you convert the JSON to a string? Lets say if a flag were set in the settings or something?

[2020-01-16 19:02] dsznajder commented on #62
I thought about same thing. I’m not sure about performance downsize of that. Also, change of this any of those, should regenerate .json file everytime, not sure if possible to dynamically lod new file. I will it over the weekend.

P.S. I’m not familiar with extension development neither ;p just reading docs and trying.

[2020-01-16 19:04] trailofdad commented on #62
@dsznajder Awesome 😎 I'll have a look at it when I have a chance as well 🚀

[2020-01-28 07:29] MA-Norouzifar opened #101 "Please remove 'export default' or 'export' from rcc or rce"
hi
Please remove 'export default' or  'export' from rcc or rce

we have two choices, but the second one still has the word 'export' at begining of the code and i think it's better to delete

rcc :
`import React, { Component } from 'react'

export default class FileName extends Component {
  render() {
    return <div>$2</div>
  }
}`
 i think it's standard :
`import React, { Component } from 'react

[2020-01-29 17:03] romokebi opened #102 "clg doesn't have autocomplete"
Overall it is a great extension, I love it!
One thing that bothers me a bit is that "clg" won't let you use autocomplete when replacing "(object)"  with an existing variable name. It usually does when you manually type "console.log()" so I wonder if that could easily be fixed?
Thank you very much.
Best,
Komo

[2020-01-30 21:38] storypixel opened #103 "Installing with Coc in Neovim"
I just wanted to comment that I thought I was going to have to copy your repo to get your snippets but I found out luckily that with coc-snippets I could install your snippets in Vim

`:CocInstall https://github.com/dsznajder/vscode-es7-javascript-react-snippets`

I hope someone finds this useful

[2020-02-02 09:06] dsznajder commented on #102
@romokebi there is a `coo` snippet for those :)

[2020-02-02 09:06] #102 closed

[2020-02-02 09:07] dsznajder commented on #89
@mochagungh I think there is no need for that one as only me made upvote. Closing

[2020-02-02 09:07] #89 closed

[2020-02-02 09:08] dsznajder commented on #82
@danielo515 This issue has lack of activity from any other users, I don't think it's needed :) Closing.

[2020-02-02 09:08] #82 closed

[2020-02-02 09:10] dsznajder commented on #101
@MA-Norouzifar Sorry but I do not understand what it's actually happening here. Could you provide better formatting for those?

[2020-02-04 12:52] #103 closed

[2020-02-05 10:34] dsznajder commented on #62
@trailofdad I've tried the approach which we discussed, unfortunately I didn't achieve the expected result. `active` function only is applied when command for search is triggered, and I did not found any other solution in docs (maybe I've missed something). Additionally, `.json` files are loaded on very beginning (their paths are declared in `package.json`).

[2020-02-15 10:54] #101 closed

[2020-02-15 10:55] dsznajder commented on #97
@gjones604 Could you confirm this bug still exists in newest version of VSCode?

[2020-02-16 01:06] gjones604 commented on #97
Yes still an issue on 1.42.1

[2020-02-16 11:47] mjarraya commented on #101
`rafce` only has `export default`
[code]

`rce` has both `export` and `export default`
[code]

The issue seems to be about removing the first `export` with `rce` in order to be consistent with the other snippets.

[2020-02-16 16:57] dsznajder commented on #101
It's actually not the issue. I'm using pure components for tests so it's better to export them separately.

[2020-02-17 09:45] mav1283 opened #107 "Unable to expand emmet abbreviation together with the snippet."
Using the vscode-es7-javascript-react-snippet disables the Emmet plugin. After expanding the React prefix like for example "rfce" by pressing the tab key, I am unable to expand a div container with either an Id or class inside the component using the tab key.  Ctrl E doesn't work either. VSCode comes with Emmet, i haven't touch the settings, do i need to tweak something to make them work together?

[2020-02-17 10:27] dsznajder commented on #107
#84

[2020-02-17 12:49] mav1283 commented on #107
Thanks for your help, i love your snippet!

[2020-02-17 12:49] #107 closed

[2020-02-18 08:02] AarRidho opened #108 "Add option for semicolon?"
Hello, is there any setting to activate semicolon when generating snippets?

[2020-02-18 08:04] AarRidho commented on #108
Ok, this is a duplicate,

sorry

[2020-02-18 08:04] #108 closed

[2020-03-04 02:07] gjones604 commented on #97
Seems to be fixed now. Thanks!

[2020-03-04 07:16] dsznajder commented on #97
@gjones604 I did nothing actually :P there was a bug inside VSCode :)

[2020-03-04 07:16] #97 closed

[2020-03-04 09:20] nparoski commented on #97
@dsznajder Did you manage to resolve this issue or did you close it because its vscode bug?

[2020-03-04 09:22] dsznajder commented on #97
@nparoski I did not meet this on my end. Also, if you look on previous comment, someone wrote that it's resolved now. I recommend you to update VSCode to newest version.

[2020-03-04 09:24] Alexey-T opened #109 "readme broken for some table"
![c](https://user-images.githubusercontent.com/4154978/75864597-53b54680-5e13-11ea-8915-86582ef4488d.png)

here your table must have 2 lines - but its broken.

[2020-03-04 09:39] nparoski commented on #97
@dsznajder Whoops sorry i overlooked that comment, thank you!

[2020-03-09 18:25] schealex opened #111 "version for webstorm"
Hi guys,

awesome snippet collection. Any plans on doing a version for webstorm?

Regards
Alex

[2020-03-10 07:29] dsznajder commented on #111
@schealex There were plans for that long time ago but I didn't find a tool to automate creation of LiveTemplates?

[2020-03-10 07:46] schealex commented on #111
I don't know of any tools but one would probably just need to build a tool which converts the current vscode format to the one jetbrains uses which looks like this:

[code]

[2020-03-10 09:08] impulse opened #112 "Remove React.FC from tsrafce"
A change that was also made in the create-react-app template (and approved by Dan Abramov)
Long detailed explanation here: https://github.com/facebook/create-react-app/pull/8177

Change proposal:
[code]
to
[code]

[2020-03-10 09:53] #112 closed

[2020-03-11 15:00] skylerwebdev commented on #111
@schealex Why don't you make one. I have scripts for bash that create react apps layout folders create files in them etc.

[2020-03-11 16:03] #109 closed

[2020-03-11 16:03] dsznajder commented on #109
@Alexey-T Resolved by #114

[2020-03-14 21:36] Aarbel opened #115 "Syntax highlighting with JSX-Fragments broken, in "Javascript React" mode"
Syntax highlighting with JSX-Fragments is broken in `Javascript React mode`.
Switching to Typescript react solves the problem, but brings the highlight mess of Typescript.

How to make it work with in  `Javascript React mode` ?

Thanks a lot for your help !

@dsznajder

![image](https://user-images.githubusercontent.com/25119847/76690766-da53fa00-6643-11ea-8aab-09ca7c66787a.png)

![image](https://

[2020-03-14 21:53] dsznajder commented on #115
@Aarbel It's kinda not a problem of this extension, as it does not add any syntax highlight addition. You should more likely ask on the main VSCode repository or download extension which will support babel syntax probably.

[2020-03-14 21:53] #115 closed

[2020-03-14 23:14] Aarbel commented on #115
@dsznajder
thanks a lot for the tip,

it had installed `Babel ES6/ES7 from dzannotti` and right now i installed `Babel JavaScript
from Michael McDermott` extension, it works.

[2020-03-15 13:58] impulse opened #116 "Extension does not load with coc.nvim / coc-snippets"
Probably an issue related to this line:
https://github.com/dsznajder/vscode-es7-javascript-react-snippets/blob/cb88c055f412078ab66c1b1613cec3c7a896e45f/package.json#L28

[2020-03-15 16:01] dsznajder commented on #116
Why? This is output after ts transpilation.

[2020-03-16 05:47] joshukraine commented on #116
@dsznajder I can confirm I have this same issue. (Using Neovim/coc.nvim) Plugin was working great until a few days ago. Would love to see this resolved! 🙂

[2020-03-16 06:43] dsznajder commented on #116
I will investigate this one :)

[2020-03-16 06:47] impulse commented on #116
@dsznajder removing the line mentioned in `package.json` makes the snippets load for me again. Dunno how if affects the build process though. Just letting you know 👍

[2020-03-16 08:43] dsznajder commented on #116
@impulse Thank you for checking. I need to try it on my own if it works properly in VSCode too.

[2020-04-02 08:52] MartinCerny-awin opened #119 "Enzyme"
I would love to add enzyme snippets. Would you accept PR if I add them?

[2020-04-03 13:34] NICHTJ3 opened #120 "Redux Hooks"
Do you have any intention of adding snippets for Redux hooks?

[2020-04-06 10:10] msaaddev opened #121 "Getting in Touch with the Author"
Hey, @dsznajder! I want to get in touch with you with an amazing proposition but I couldn't find your email on your GitHub account. Can you please send me a blank email at mrsaadirfan@gmail.com so that I can get back to you. Thank you for your time. :)

[2020-04-06 10:11] msaaddev commented on #121
I am now going to close this issue since it is not related to vscode-es7-javascript-react-snippets. I hope you will see this message.

[2020-04-06 10:11] #121 closed

[2020-04-06 11:41] dsznajder commented on #119
@MartinCerny-awin I do not recommend enzyme, and do not use, but if you need, they can be added but with some prefix to distinguish them from rest

[2020-04-06 11:42] dsznajder commented on #120
@NICHTJ3 but actually which? :) Most of redux-hooks are pretty easy and IMO, they do not need additionally snippets.

[2020-04-07 16:57] Goran7777 opened #122 "Doesnt work properly on every attempt."
When i type for example RACFE and hit TAB || ENTER it works only on third or forth attempt on my VSC in Ubuntu 18.04.

[2020-04-16 12:07] victorcamnerin commented on #120
Would be awesome! Created a PR för `useSelector` and `useDispatch`. Just a proposal.

They might be easy but so is the snippet for `useState` in my opinion.

[2020-04-16 15:32] pauloedurezende commented on #116
For people who are having this problem with `coc.nvim`, just access the folder where the plugin is installed (usually in `~/.config/nvim/plugged/vscode-es7-javascript-react-snippets` when installed with `vim-plug`) and run the following command:

- With Yarn
[code]

- With NPM
[code]

it will compile the package and create the file where it is expected (`./out/index.js`)

[2020-04-20 02:24] Natty-Laugh opened #125 "Linux equivalent of cmd"
Might be a dumb question but what should I use on Linux instead of cmd + shift + p. ALready tried cntrl, alt, windows button.

[2020-04-29 11:10] TRomesh opened #126 "commands "rce" and "rcep" introduce 2 exports"
[code]

Due to this two exports the react-redux HOC (connect) and react-router-dom HOC are not applied.
As a workaround i manually remove the export from the top class definition

[2020-04-29 11:57] dsznajder commented on #126
@TRomesh It's because when I was using class components, I liked to test pure classes without hocs etc. That was just easier and more reliable. #71

[2020-04-29 11:57] #126 closed

[2020-04-29 11:58] dsznajder commented on #125
@Natty-Laugh I'm pretty sure `ctrl+alt+p` should be working :)
https://github.com/dsznajder/vscode-es7-javascript-react-snippets/blob/master/package.json#L42

[2020-04-29 11:58] #125 closed

[2020-04-29 11:59] dsznajder commented on #120
@victorcamnerin thanks for PR. I'm more likely change it to use destructuring in `useSelector` :)

[2020-04-29 12:00] #120 closed

[2020-04-29 12:09] victorcamnerin commented on #120
Go for it! Cool!

[2020-05-12 21:12] esetnik commented on #116
Can we add a `"prepare":"npm-run-all compile"` to the `package.json` scripts section so that this happens automatically for `vim-plug` users? See https://github.com/neoclide/coc.nvim/blob/master/package.json#L16 for reference.

[2020-05-13 12:57] pauloedurezende commented on #116
@esetnik I don't think that's is really necessary, you can make the process of compiling the package an automatic way if you use a package manager (like `vim-plug`) to install this snippet. Just add a new step into your vim/neovim when going to install the package, eg:

[code]

[2020-05-13 13:30] esetnik commented on #116
Ok then can we include that in the readme so `vim-plug` users know what to do. Most other vim packages I’ve used are configured to do this automatically if they require transpilation from source.

[2020-05-13 19:08] joshukraine commented on #116
@pauloedurezende Thanks! That worked like a charm. 🙂👍🏻

[2020-05-22 16:37] pranjaljately opened #128 "Capitalise component names - React"
Currently running something like 'rfc' results in the following:
[code]

Would it be possible for it to **capitalise** the function name either through a setting or by default resulting in:
[code]

The difference being between **layout** and **Layout**. (lowercase vs uppercase).
Since it is a rule/convention that ***React components must start with an uppercase letter***

[2020-05-23 11:08] dsznajder commented on #128
@pranjaljately It's taken from the file name, So you should name your files with a capitalized letter.

[2020-05-23 11:08] #128 closed

[2020-05-25 00:48] tpkahlon opened #129 "VSCode Cheatsheet!"
I built a cheat sheet using the generated Markdown file. It is an inspiration from Shopify Cheat sheet and allows to quickly go through various languages and find key shortcuts associated with each snippet. I opened this issue wondering, if you would like to add this link in Markdown file? Otherwise, you can close this issue.

[Demo](http://vscode-hacks.herokuapp.com)

[2020-05-25 10:19] dsznajder commented on #129
@tpkahlon Hi! That's awesome! But I would like to keep it as an extension and that's why I've added build in search for this package :) You can open it with `CMD + Shift + R` on macOS

[2020-05-25 10:19] #129 closed

[2020-05-29 02:20] zxf4399 opened #131 "can not associate"
if i imd, then get
import {} from 'module'
but if my project has a dependencies like 'lodash'
then can not associate

[2020-05-30 02:40] zxf4399 commented on #131
@wouterh

[2020-06-06 13:56] dsznajder commented on #122
@Goran7777 Update to newest VSC. Mostly it's related to config but there were some bugs in snippet completion.

[2020-06-06 13:56] #122 closed

[2020-06-06 13:56] #119 closed

[2020-06-06 13:57] dsznajder commented on #111
I do not have time for now to support both WebStorm & VSCode. Feel free to just copy my snippets and generate LiveTemplates

[2020-06-06 13:57] #111 closed

[2020-06-06 13:58] dsznajder commented on #116
Would you like to add this to documentation somewhere in README? :)

[2020-06-07 01:37] pauloedurezende commented on #116
@dsznajder I will open a pull request with the installation information 😄

[2020-06-08 08:29] #116 closed

[2020-06-13 03:33] Dannymx opened #136 "Can't see preview of snippet"
I remember recently (a few days ago) being able to see a preview of the snippet suggested, but now it's seems to be gone, is this a problem with the extension or with VScode?

![image](https://user-images.githubusercontent.com/364003/84558979-ab115f80-acfc-11ea-9489-dd6d78202e73.png)

[2020-06-15 02:52] tpkahlon opened #137 "Faulty Markdown File (README.md)"
The latest commit #135 took down [Cheat-sheet](http://vscode-hacks.herokuapp.com/) site.

After debugging, I found out that above commit does not follow correct Markdown syntax. Because of it, `md-2-json` package failed to compile Markdown into JSON and took down the site.

I have amended markdown file in Pull request #138. Please review and merge.

Thank you!

[2020-06-15 07:20] dsznajder commented on #136
@Dannymx I will look into, but 99% new VSCode version.

[2020-06-15 07:21] #137 closed

[2020-06-15 23:06] Dannymx commented on #136
I found how to view the preview.

[2020-06-15 23:06] #136 closed

[2020-06-23 07:58] WispAmulet commented on #62
I found this plugin has options to decide whether to use semicolons or not. The plugin works for now but it seems that it's no longer being manitained by its owner.
Maybe someone would check this. [React Redux ES6 Snippets](https://marketplace.visualstudio.com/items?itemName=timothymclane.react-redux-es6-snippets)

[2020-08-13 11:15] tgkei opened #141 "vim-plug is not working properly"
using ```coc.nvim``` and ```vim-plug```, the following error message is shown.

```[coc.nvim] extension "es7-react-js-snippets" doesn't contain main file```

I can see the repository is successfully installed in autoload folder, so in ```.config/nvim/autoload/plugged/vscode-es7-javascript-react-snippets``` the folder exists, but according to the error message, in this folder, there should be ```ou

[2020-08-13 15:57] dsznajder commented on #141
Please look here #103 and check if you have a proper setup. I do not use `coc.nvim` so I can't test it by myself but seems like this solves an issue.
[code]

[2020-08-13 21:45] tgkei commented on #141
@dsznajder it might be silly question but how can I trigger the snippet?? using ```tab```? Again sorry for silly question and thx for good reply

[2020-08-14 09:40] dsznajder commented on #141
@tgkei Could you provide some error stack for that?

[2020-08-14 09:57] drakang4 commented on #88
What makes this being considered as faulty?
I personally prefer this way than `tsrafce` and didn't find any problem of it.

[2020-08-14 10:17] impulse commented on #88
@drakang4 makes sense. Feel free to readd

[2020-08-18 02:00] devnoot commented on #131
I think I am running into the same issue.

If I do `imd->` to get `import {} from module` I don't get auto-completion on either the module or after tabbing into `{}`

[2020-08-18 13:16] devnoot commented on #131
Just an FYI i was able to fix this issue by adding `editor.suggest.snippetsPreventQuickSuggestions` to my vscode settings

[2020-08-19 10:01] #131 closed

[2020-08-26 13:25] tgkei commented on #141
Sorry for my Coc setting had some issues. After fixed coc everything works fine thx!

[2020-08-26 13:25] #141 closed

[2020-08-28 17:32] prashantsharma opened #144 "Is it possible to use this with .vue extension?"
I can not use this plugin with .vue files. Any plans to add support for vue and html files.

[2020-08-29 17:00] dsznajder commented on #144
@prashantsharma I will try to add some kind of options for that in the future, but currently, I do not have much time.

[2020-09-14 06:07] ethanaggor opened #145 "rfce snippet import not working after update to 3.0.0"
I reinstalled the previous 2.8.3 update and this feature was working just fine. Please let me know if I am missing something as this is my very first time using React and I've only been using this extension for a few days.

[2020-09-17 11:45] sooxt98 opened #147 "syntax highlight not working on directive with param"
![image](https://user-images.githubusercontent.com/13378059/93466148-62ca9480-f91e-11ea-9a82-6b785f6b235f.png)

[2020-10-06 09:18] Snivio opened #148 "formatting issue"
I have prettier configured for formatting but if i have this the "es7-javascript-react-snippets" enabled and format on save enabled.
if i try save a CSS file it says cannot format with es7-javascript-react-snippets. but if i turn this plugin of pretter works properly with css format (Only happens for CSS formating)

[2020-10-21 03:31] dantman opened #150 "Hooks snippets interfere with auto-importing hooks"
This extension appears to have undocumented snippets related to hooks. These hooks appear to use the hook names rather than shortcut names (like the `ueh` an extension I actually use for this purpose provides).

This is problematic because for some hooks when you try to auto-import a hook from react the first intellisense entry that shows up is the snippet instead of the auto-import.

i.e. This me

[2020-10-21 12:44] dsznajder commented on #150
@dantman They are documented [here](https://github.com/dsznajder/vscode-es7-javascript-react-snippets#react-hooks). If you would like change order, just change your VSCode settings.

[2020-10-21 12:44] #150 closed

[2020-10-31 23:40] rioj7 opened #151 "typescript snippets defined 2 two times in package.json"
Why is the following part doubled in `package.json`
[code]

[2020-11-01 07:15] dsznajder commented on #151
@rioj7 It's not doubled, it has a different language resolution

[2020-11-01 07:15] #151 closed

[2020-11-12 06:50] sabriele commented on #64
Hi @dsznajder, thank you for addressing this issue earlier. I'm aware that you have fixed this already at
https://github.com/dsznajder/vscode-es7-javascript-react-snippets/blob/5065a7c978620414eeba65e6b67e9e41de496725/snippets/snippets.json#L1438

However, I'm still experiencing this issue:
![Screen Recording 2020-11-12 at 2 39 19 PM](https://user-images.githubusercontent.com/4678102/98905163-e99e

[2020-11-12 23:34] markhker opened #153 "Feature request. Add support for React v17"
React v17 no longer needs to `import React from 'react'`
I was wondering if it is possible to update this extension.

Thanks.

[2020-11-13 08:24] dsznajder commented on #153
@markhker the problem is, that not all projects are already migrated to v17. I would like to not force most of people to migrate, I will probably make some additional alias or maybe finally find way to implement options and dynamically parse `json` files to handle semis, single / double colons etc.

[2020-11-13 13:57] dsznajder commented on #147
@sooxt98 It's related to your VSCode settings #115

[2020-11-13 13:57] #147 closed

[2020-11-13 13:58] dsznajder commented on #148
@Snivio shouldn't be problem as it now only applied to .ts{x} and .js{x} files

[2020-11-13 13:58] #148 closed

[2020-11-14 11:15] MihaiWill opened #154 "Don't import React config"
Hi!

When i use Nextjs, i don't need to import React, so how can i disable it?

Thanks for awesome extension!

[2020-11-15 08:53] dsznajder commented on #154
#153

[2020-11-15 08:53] #154 closed

[2020-11-24 02:25] #145 closed

[2020-11-25 09:56] AlbinCederblad opened #155 "rxreducer eslint warning"
eslint gives warning: "Assign arrow function to a variable before exporting as module default"

https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-anonymous-default-export.md

[2020-11-25 10:34] dsznajder commented on #155
@AlbinCederblad This extension won't support every eslint config & plugin which exists :) Consider changing your own config. I'm also happy to change it but it would need 2 snippets, one for creating a function, and another one, with export of this function.

[2020-11-25 10:34] #155 closed

[2020-12-08 07:31] srikanth597 commented on #153
![autoImport](https://user-images.githubusercontent.com/32018044/101453046-b7494300-3954-11eb-8ae4-4f444cf501eb.gif)
Hi,
I don't know whether My issue also related to the latest version, whenever I try useState or useEffect snippet it is not adding it to Import Statement.
It used to work a few weeks back, I am using Auto Import Extension as well, not sure what am I doing wrong there!.
I tried all

[2020-12-09 10:14] zxlvera commented on #103
Would like to add anyone who is using coc-snippets after @storypixel suggestion
`:CocInstall https://github.com/dsznajder/vscode-es7-javascript-react-snippets` and still getting errors,
go to `~/.config/coc/extensions/node_modules/es7-javascript-react-snippets/` and run `yarn install --frozen-lockfile && yarn compile`.

[2020-12-11 09:26] talohana opened #157 "TypeScript type & interface Props configuration"
TypeScript allows to model types with 2 options - a type and an interface.

A comparison between the two can be found in [this blogpost](https://blog.logrocket.com/types-vs-interfaces-in-typescript/)
Is there an option to change the TypeScript snippets to use types instead of interfaces when declaring the `Props`  type?

For example instead of generating with `tsrafc`

[code]

to generate

[code]

[2020-12-11 10:55] dsznajder commented on #157
@talohana There is #62 an issue to track those. Unfortunately I didn't have time to look how to implement those options and then apply changes to `json` files. I thought of some placeholders and then replacing with proper value i.e.:

Option with select options: Interface / Props

and then based on this value replace all occurrences of this placeholder in snippets, but it would also force users to

[2020-12-14 09:29] dsznajder commented on #153
@markhker They will be with `_` prefix for current development. In future I hope I could make options for it.

@srikanth597 It's not related to package but snippets itself. Auto import does not work that way and to resolve this you should look for some solution in VSCode but I couldn't also find this.

[2020-12-15 07:23] MikeBruns opened #159 "Feature request: MyComponent.propTypes and MyComponent.defaultProps"
Really enjoy the extension, especially for typing out props ❤️

I have a feature suggestion I find myself wanting. I would like to have a snippet for just the `propTypes` and `defaultProps` objects after I've already created the class.

### MyComponent.propTypes
[code]
### MyComponent.defaultProps
[code]

If applicable, here is the code I was thinking of for the snippets. I wanted to make sure it'

[2020-12-18 10:43] web-display opened #161 "no snippets in vim"
I make sure configued the coc. and the plug vscode-es7-javascript-react-snippets installed. But i use the snippet 'imr' or 'imd'
nothing to show. how fix it
![image](https://user-images.githubusercontent.com/40024679/102605638-85a85700-4160-11eb-8c14-6cfc4757b7b6.png)
![image](https://user-images.githubusercontent.com/40024679/102605697-a2448f00-4160-11eb-833f-d2e1c7c24096.png)
![image](https://us

[2020-12-18 14:26] #161 closed

[2020-12-18 14:27] web-display commented on #161
sry ! i'm not install coc-snippets first.

[2020-12-18 14:58] web-display commented on #161
add the install coc-snippets first in the docs. many developer like me dot understand cofig coc.nvim.

[2020-12-25 22:05] rohitkrishna094 commented on #64
Yeah useState uppercase issue still exists for me as well. Maybe we need to re-open another issue? Or maybe we are using it in a wrong way? the setxxx function is always lowercase.

[2021-01-04 14:06] Mr0cket opened #163 "Extension prevents the auto imports of all react hooks and is dated / overly opinionated RE syntax of snippets"
This extension blocks VScode inline auto import suggestion for react imports, e.g 'useState' and 'useCallback' etc.
The auto import suggestions are a really useful feature, and saves more time than is saved by using the snippet (especially in long files where you need to scroll to the very top in order to import the hook).

Demonstration with snippets disabled:

https://user-images.githubuserconte

[2021-01-04 14:22] Mr0cket commented on #163
Whoops, those videos a bit bigger than I expected...

[2021-01-04 14:39] dsznajder commented on #163
@Mr0cket Yes, I'm aware of that but it's not possible to trigger auto-import with a snippet unfortunately AFAIK.

[2021-01-04 14:39] #163 closed

[2021-01-04 14:41] Mr0cket commented on #163
I actually prefer if I could disable those specific snippets so that I can use auto-import and still use this extension. is that possible?

[2021-01-04 15:00] Mr0cket commented on #163
Is it possible to disable or remove individual snippets from the extension so that they don't interfere with the Auto import functionality?

[2021-01-09 07:48] marcebdev opened #164 "[suggestion]: don't add props for tsr[a]fc[e] , utilize tsrafcp instead?"
I believe it'd be helpful to have `tsrafc`, `tsrafce`, `tsrfc`, `tsrfce` not add React props as the snippet adds an interface and props which can't really be auto removed by eslint, at least not reliably if even possible.

Doesn't seem like this has been suggested before and I've recently started using TS so idk maybe I'm the odd one out or I'm missing something, but seems practical. For instance

[2021-01-09 08:08] marcebdev opened #165 "[suggestion]: add ts react function components (with no import or export, props only)"
`r[a]fc` has the `nfn` analogue which is useful if you're writing multiple components in a file. However in TS due to props definitions and return definitions there doesn't really appear to be an analogue for this.

Looking up and down the list the fastest way I can find is using `r[a]fc` and removing duplicate react imports. I haven't been able to get eslint to remove these dupe imports either, e

[2021-01-14 05:11] dantman opened #166 "Remove React import from snippets"
Imports like `rafc(e)` include an `import React from 'react';`.

Current react transforms (both Babel and TypeScript) no longer expect `React` to be in scope and auto-import the new export from react that they need.

`imr` already includes this line if you absolutely need it.

[2021-01-14 13:11] dsznajder commented on #166
Duplication of #153

[2021-01-14 13:11] #166 closed

[2021-04-04 14:08] AyazAI opened #174 "Snippets don't work anymore!"
When i try extension snippet the shortcut don't work anymore.
e.g when i do `rafce` it returns no snippet code.

![don'twork](https://user-images.githubusercontent.com/45338553/113511377-ec6b4800-9578-11eb-87c4-f71cdd8c51cd.png)

`code -v`
`1.55.0
c185983a683d14c396952dd432459097bc7f757f
x64
`

[2021-04-04 15:00] SarthakC opened #175 "use React.FC<Props> in tsrafc"
`tsrafc` generates

[code]

a more "React" way of doing things would be generating something like

[code]

[2021-04-05 13:38] dsznajder commented on #174
@AyazAI Please check your VSCode settings. You've probably removed snippets suggestions in options.

[2021-04-05 13:38] #174 closed

[2021-04-06 18:33] AyazAI commented on #174
@dsznajder Thanks! I had to enable and disable Emmet suggestions then it worked!

[2021-04-11 01:55] andrewphamvk commented on #175
I prefer the current template because it's more aligned with the functional programming style React is evolving towards. Inheritance is an OOP concept. If anything, the interface should be turned into a simple type.

[2021-04-11 02:04] andrewphamvk commented on #157
Since I'm the only user on my machine, editing C:\Users\{user}\.vscode\extensions\dsznajder.es7-react-js-snippets-3.1.1\snippets\ts-snippets.json and replacing _interface_ with _type_ is a good work around.

[2021-04-20 07:31] JulHelm opened #178 "Import react from React no longer needed"
Hi.
Newest React Versions do not need the import of react Library anymore as long as you start it with create react app what most programmers do.
cheers.
Julian

[2021-04-20 11:45] dsznajder commented on #178
#153

[2021-04-20 11:45] #178 closed

[2021-04-21 04:16] talohana commented on #157
Is there a way to save this change with vscode settings sync?

[2021-05-01 23:36] BradBailey-web commented on #175
I like the suggested change specifically because it makes it so you no longer have to declare children as a prop... I would also support just having children being added into the interface "Props" as optional by default...

 For react 17; however, _tsrafc should probably be a named import of FC... And for earlier versions it wouldn't hurt having it be a named import either I guess...
`
import { FC

[2021-05-04 17:01] lszomoru opened #179 "Support Workspace Trust"
Hello :wave: I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as _Workspace Trust_. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execute

[2021-05-07 11:46] lszomoru opened #180 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-05-12 21:52] danieltkach opened #181 "It stopped working"
It just stopped working after a VS Code update. I tried uninstalling, restarting, then installing it from the browser marketplace, and from VS Code itself. I uninstalled other extensions for snippets and tried all over again, and nothing. I don't know what else to try, and I'd really like this to work again. Any ideas what I can do?
Thanks.

[2021-06-07 07:27] work4m opened #183 "memo component for React-Native"

[2021-06-12 08:34] silviubogan opened #184 "The React Hooks section in README.md is not useful at all"
And it looks broken, it is talking about React Native in its table.

https://github.com/dsznajder/vscode-es7-javascript-react-snippets#react-hooks

Could you guide me to some resource talking about React hooks in this VSCode extension?

Thanks for the hard work!

[2021-06-23 10:46] OlekRia opened #185 "tsrafc and tsrafce"
These two snippets should return ReactElement like this:

`const EditNavigation = (props: EditNavigationProps): ReactElement => {`

or

`const EditNavigation = (props: EditNavigationProps): JSX.Element => {`

up on your choice.

P.S. interface should be exported IMHO.

[2021-06-23 10:50] OlekRia commented on #175
Why not:

[code]
Anyway a return type is important. ESLint/TSLint/etc often fall into hysteria without it :)

[2021-06-23 13:11] OlekRia opened #186 "return value: JSX.Element"
If you use : JSX.Element instead of ReactElement, you need no `import {  ReactElement } from 'react'`

[2021-06-27 13:46] AbundantSalmon commented on #184
It basically says you can call all the snippets by their hook names, i.e. `useMemo` will expand to `useMemo(() => function, input)`

[2021-07-12 09:33] mrdulin opened #189 "Need to improve the code snippet of useDispatch"
[useDispatch()](https://react-redux.js.org/api/hooks#usedispatch) does **NOT** accept a function parameter.

It will generate below snippet:

[code]

![image](https://user-images.githubusercontent.com/17866683/125265004-fc908180-e336-11eb-96df-0938bdaca457.png)

Expect:

[code]

[2021-07-18 14:58] Nick-HK commented on #181
@danieltkach , Can you provide the details like the version of the plugin and the version of the VS Code? Thanks!

[2021-07-18 15:12] Nick-HK commented on #144
@prashantsharma Interesting idea but I think it's better to separate it into another project like:

Vue: vscode-es7-javascript-vue-snippets
Angular: vscode-es7-javascript-angular-snippets

[2021-09-11 13:02] nwazuo opened #193 "Can't find extension on gitpod"
Somehow I can't find this extension when searching for it in the extensions tab in VSCode for https://gitpod.io

Is there a way to work around this? By maybe getting a snippet file of all the snippets in this extension while we hopefully wait for a variation of the extension that works for gitpod.io ?

[2021-09-16 08:24] #184 closed

[2021-09-16 08:25] #181 closed

[2021-09-16 08:25] #186 closed

[2021-09-16 08:25] #189 closed

[2021-09-16 08:32] dsznajder commented on #193
I do not know the tool but I have zero control and experience on gitpod.io

[2021-09-16 08:32] #193 closed

[2021-09-16 08:33] dsznajder commented on #164
I will make some changes related to those snippets but I need to figure out settings and the rest of stuff that is dynamic or workspace specific (i.e. `type` over `interface` etc.)

[2021-09-16 08:33] #164 closed

[2021-09-16 08:37] dsznajder commented on #159
I personally feel like `MyComponent.defaultProps` is something to avoid in projects. `.propTypes` could be useful tho for people that are not on TS. I will try to provide it in the next version as I have somehow a clear idea for extension settings.

[2021-09-16 08:37] #159 closed

[2021-09-16 08:40] #183 closed

[2021-09-16 08:40] dsznajder commented on #157
Tracked in #185

[2021-09-16 08:40] #157 closed

[2021-09-16 08:43] dsznajder commented on #185
tracked in #175

[2021-09-16 08:43] #185 closed

[2021-09-16 08:44] #165 closed

[2021-09-23 23:31] #179 closed

[2021-09-23 23:33] #180 closed

[2021-10-09 08:30] jraut commented on #175
I would suggest naming `Props` as `Component` and making those two (the interface and the component name) being in the same highlight/tab group. They should receive the same name for all purposes.

[2021-10-13 11:32] jraut commented on #175
"I would suggest naming Props as Component and making those two (the interface and the component name) being in the same highlight/tab group. They should receive the same name for all purposes."

[2021-10-23 04:37] antebudimir opened #195 "No autocomplete of = sign and quotation marks"
Question regarding the title:

is this a normal behavior that when you start typing e.g. className and you use Tab to autocomplete, that it completes only the attribute and you have to manually add className="" ? If so, why? In this manner, autocomplete is actually just half auto-complete. :D

[2021-10-23 11:23] #195 closed, assigned to nobody

[2021-11-22 18:52] isidorn opened #196 "Enable react snippets extension to run on VS Code on the web"
:wave: I'm Isidor, a PM from the VS Code team, and we recently announced VS Code for the Web at https://vscode.dev/, which provides a free, zero-install Microsoft Visual Studio Code experience running entirely in your browser.  You can learn more [here](https://code.visualstudio.com/docs/editor/vscode-web).

We'd like to ensure `react snippets` can run in the web, and we have a guide for enabling

[2021-11-23 10:15] aindriu80 opened #197 "How to change a snippet -> remove the object in the clg shortcut?"
Hi,

How do you remove the object in the console line shortcut or create a shortcut without the object there?  When you type clg you get the following:-

`console.log(object)`

I want the following:-

`console.log()`

Often when I am using console.log I am using it to print quotes out and then something else, once I type clg and then quotes I get:

`console.log("object")`

The problem is that I ha

[2021-11-23 10:17] dsznajder commented on #197
`clg` is for `console.log($1)`, you can tap TAB to go to those parents. for `console.log("object", object)` go with `clo`

[2021-11-23 10:17] #197 closed

[2021-11-24 09:57] aindriu80 commented on #197
I don't think you read my post,

I am NOT looking for object at all.

How do you REMOVE the object in the shortcut?

[2021-12-20 11:17] TamirCode opened #200 "combine useState import with useState autocomplete"
there are two separate useState options, one creates an autocomplete and the other one imports. but there is no reason not to have the autocomplete import it as well.

[2021-12-20 11:51] dsznajder commented on #200
@TamirCode autocomplete is not from the snippets package but from your IntelliSense inside VSCode. I'm thinking of removing this snippet for now as it makes it more difficult to use.

[2021-12-20 11:51] #200 closed

[2021-12-20 11:52] #196 closed

[2021-12-20 11:54] dsznajder commented on #144
@Nick-HK I feel like this would be very hard to maintain especially when I have kinda limited time to do this. I'm currently working on the v4 version which will have dynamic options for defining supported extensions and other stuff that should be adjustable based on prettier / preferences. Stay tuned 👀

[2021-12-20 11:55] dsznajder commented on #196
@isidorn thank you for this! merging and will release a new version this week.

[2021-12-31 06:55] krush11 opened #203 "Redundant import of React"
In every react snippet, there is an import of React like this:
[code]

However, this seems redundant. Could it be removed?

[2021-12-31 12:11] dsznajder commented on #203
@krush11 It's only redundant in react 17 with transform. Currently react 17 is supported with `_` prefix. In a future release, there will be configuration for that.

[2021-12-31 12:11] #203 closed

[2022-01-03 09:33] isidorn commented on #196
@dsznajder awesome, great news! Thanks a lot 👏

[2022-01-08 13:13] AmodeusR commented on #62
So you guys just gave up on this idea?

[2022-01-09 11:42] yashrajbothra opened #204 "Fetching Incorrect filename"
Soo I was using react and while using rfc snippet the function name was not matching.

Steps to reproduce

1. Create new file and name it anything ex :- (Example)
2. Create rfc using rfc
2. Now change the filename
3. Now Delete the code and try again...LOOP...

https://user-images.githubusercontent.com/47683556/148680552-1bdd074f-c9de-472c-baa0-7d457170dad2.mp4

[2022-01-10 10:05] dsznajder commented on #204
@yashrajbothra snippets are using filename variable directly from VSCode so if it's not working properly, you should open issue in editor repo instead. https://code.visualstudio.com/docs/editor/userdefinedsnippets#_variables

[2022-01-10 10:05] #204 closed

[2022-01-15 10:24] dsznajder commented on #62
I finally found some time to play around with this. Unfortunately, It's still very limited but it's working for snippets from search. Hope so for now it will be enough but still looking into the possibility of dynamically loading inline prompts and applying format

[2022-01-16 18:32] #62 closed

[2022-01-16 18:36] #144 closed

[2022-01-19 02:41] KostiantynO opened #205 "After last update How to enable this extension back?"
After last update  How to enable this extension back?
It does not work now in win 10 VSCode !
If you try to use enf/anf or any other snippet - No suggestions showed in intelliSence dialog dropdown !

[2022-01-19 08:42] mikededo commented on #205
Check the `React Snippets › Settings: Language Scopes` option in VSCode settings. Try adding the default value, which is: `typescript,typescriptreact,javascript,javascriptreact`.

If still does not work, check that the file type is detected by VSCode is the correct one. Autocomplete for javascript will not work unless it detects a javascript type of file.

If still does not solve your issue, check

[2022-01-19 09:33] stephan5463 opened #206 "useState Snipet got removed in last checkin"
it was removed in checkin d410801

was this intentional?

[2022-01-19 11:08] Roman-Popov opened #207 "Bug (?): Extra line for snippets for v4+"
Is it necessary?
I used to type `clg` for example.
The result for version 3+ was:
[code]

Now, at current version I'm getting this:
[code]
Looks like a bug, because I don't see extra line at `/src/sourceSnippets/console.ts ` but I see them at `https://github.com/dsznajder/vscode-react-javascript-snippets/blob/master/src/snippets/generated.json`
It's pretty annoying, could you please fix that?

[2022-01-19 11:36] ubaidjs commented on #206
facing same issue.

[2022-01-19 11:53] dsznajder commented on #205
@KostiantynO Sorry, I see that I missed `others` snippets for parsing. I also recommend you to restart VSCode as right now they are generated on js/ts file open. Released in `v4.0.3`

[2022-01-19 11:53] #205 closed

[2022-01-19 11:54] dsznajder commented on #206
Yeah, it was removed as I thought of it as something unused and confusing with React API. I've added all of those with the additional suffix `Snippet` for easier recognition. Released in `v4.0.3`.

[2022-01-19 11:54] #206 closed

[2022-01-19 11:55] dsznajder commented on #207
@Roman-Popov should be resolved, sorry for this. Currently, snippets are dynamically generated based on settings / prettier integration so source "generated" differs from what is actually used. Skipped adding a line from default prettier settings and should be fixed in `v4.0.3`

[2022-01-19 11:55] #207 closed

[2022-01-19 14:55] prospernglazi commented on #153
Have you removed the _rafce for creating a functional component without importing React? I tried it today and it's not working. Thanks

[2022-01-19 15:17] dsznajder commented on #153
@prospernglazi looks like I forgot totally to apply `importReactOnTop` setting. It will be fixed in `v4.0.4` in an hour or two. Currently you won't need `_` prefix for those, just changing a setting inside your VSCode

[2022-01-19 15:33] asdf1414 opened #208 "Underscore snippets prefix no longer working"
Updated today from v3.1.0 to v4.0.3 - Since the new update **I'm missing the underscore prefix for the snippets** (e.g. _rfce). I checked other versions in VScode and this "bug" seems to exist in v3.1.1 already, therefore I'm not quite sure whether it's a bug or just a removed feature.

[2022-01-19 15:42] pmioduszewski commented on #208
Same issue 😢

[2022-01-19 16:07] dsznajder commented on #208
#153 Working on that one. Will release a new version. After the update, take a look at Extension Settings as `importReactOnTop` variable was introduced

[2022-01-19 16:07] #208 closed

[2022-01-19 17:09] dsznajder commented on #153
@prospernglazi released v4.0.4 Check out settings 👀

[2022-01-19 17:09] #153 closed

[2022-01-19 18:03] MuttakinHasib opened #209 "React Typescript Snippets not working"
`tsrafce` `tsrafc` etc. not working

[2022-01-19 18:05] dsznajder commented on #209
@MuttakinHasib take a look at snippet settings and just enable `typescript` ones :) I Hope rest will work well 👀

[2022-01-19 18:05] #209 closed

[2022-01-19 21:44] obriedan opened #210 "useStateSnippet no longer camelCases the callback function. v4.0.3"
First of all, love the addition of snippet to input! The latest release is no longer setting the callback to camel case.

![Screenshot_18](https://user-images.githubusercontent.com/46796944/150218536-66c2f4a7-1fc4-41b7-bb40-f74c5206e606.png)

Love the extension, just realised how much time it saves me.

[2022-01-20 09:33] AntonOfTheWoods commented on #209
@dsznajder , thanks heaps for the plugin, but this is a huge breaking change for us Typescript users. Something in the changelog would have been much less confusing!

[2022-01-20 09:38] AntonOfTheWoods opened #211 "React Snippets › Settings: Import React On Top not working"
I tried this both checked and unchecked, and both insert the import.

You made reference to a specific config option for this in https://github.com/dsznajder/vscode-react-javascript-snippets/issues/203. Was it this?

In that you make reference to snippets starting with "_" - have they been removed?

[2022-01-20 11:46] ubaidjs commented on #206
@dsznajder
On more thing you missed to fix is the capitalisation of of variable name after 'set'
![Screenshot 2022-01-20 at 5 12 37 PM](https://user-images.githubusercontent.com/38839145/150332822-ffbcaa4a-1933-4c7f-bb70-2fb26dc03567.png)

[2022-01-20 12:12] ubaidjs commented on #210
![Screenshot 2022-01-20 at 5 12 37 PM](https://user-images.githubusercontent.com/38839145/150336571-6f374301-a978-47b7-893b-6d0039929872.png)

[2022-01-20 12:18] dsznajder commented on #211
@AntonOfTheWoods after changing this option, you should restart VSCode and just use `rfc` without `_`. I double checked and v4.0.4 works for me.

[2022-01-20 12:18] #211 closed

[2022-01-20 12:49] MuttakinHasib opened #212 "Can't change Default Typescript Component PropsState Prefix"
`settings.json`

![image](https://user-images.githubusercontent.com/44552983/150341426-68a6d7eb-c64f-4e55-af0c-d35d1ebef701.png)

![image](https://user-images.githubusercontent.com/44552983/150341607-1da7dec7-a4f1-4110-b708-86b233632887.png)

[2022-01-20 12:54] dsznajder commented on #209
@AntonOfTheWoods There is a breaking major change. I also pre-generated `ts` snippets to be working in the same way. Not sure if it has regenerated itself. I will change the default value of snippet generation to true, which should resolve this issue

[2022-01-20 13:33] dsznajder commented on #212
@MuttakinHasib Fixed in `v4.1.0` as I forgot to implement this feature 😅

[2022-01-20 13:33] #212 closed

[2022-01-20 17:14] wKovacs64 commented on #211
Doesn't seem to work for the `ts` variants?

[2022-01-20 17:49] anilbdev opened #213 "rafce snippet " return<div></div> " in a single line. Can the div be in a braces by default?"
rafce snippet gives below code
import React from 'react';

function FirstPage() {
  return <div></div>;
}

export default FirstPage;

Previously return statement was like

return(
<div>
</div>
)

How can i change to old return format?

[2022-01-20 17:58] dsznajder commented on #211
@wKovacs64 argh... another stuff that I forgot. I will open an issue to track it. Hope to find time on weekend to tackle the rest of formatting/perf issues.

[2022-01-20 17:59] dsznajder commented on #210
released in `v4.1.0`

[2022-01-20 17:59] #210 closed

[2022-01-20 18:00] dsznajder commented on #213
@anilbdev right now, a snippet is integrated with a prettier config. Take a look at settings disable `semiColons` option and restart vscode

[2022-01-20 18:00] #213 closed

[2022-01-20 18:12] wKovacs64 opened #214 "React Snippets › Settings: Import React On Top not working for ts variants"
Similar to #211 but specifically for `ts` snippets.

[2022-01-20 18:12] wKovacs64 commented on #211
No worries, thanks for your efforts. I opened #214 to track it.

[2022-01-20 23:07] AntonOfTheWoods commented on #211
@dsznajder was there something wrong with this ticket for tracking the issue? I understand not wanting to keep tickets open but I also noticed the problem using the extension with TS, and I could easily have made that more explicit in this ticket...

[2022-01-21 10:01] raghuraj20 opened #215 "_rfce not working"
_rfce not working

[2022-01-21 10:12] 314857493 opened #216 "One liner snippets with semiColons enabled produce unnecessary line"
![image](https://user-images.githubusercontent.com/34772902/150508681-02e36712-fee8-4168-9bdc-a05eedbeabb2.png)
when I use imp/ime/ima ,there is one ';' in the next line, is it normal?

[2022-01-21 10:51] dsznajder commented on #215
@raghuraj20 take a look at README and give a try new settings and options. Old `_` were removed

[2022-01-21 10:51] #215 closed

[2022-01-21 10:52] dsznajder commented on #216
No, it's bug related, thanks for sharing. Will tackle it on weekend

[2022-01-21 11:51] 314857493 commented on #216
copy that

[2022-01-21 20:35] OmerMahgoub94 opened #217 "_rfce snippet is gone"
_rfce snippet is no longer available.

Only rfce is available which produces the below code

import React from 'react';

function Player() {
  return <div></div>;
}

export default Player;

_rfce used to produce the same code without the import statement for react.

[2022-01-21 20:38] #217 closed

[2022-01-22 11:02] mecirmartin opened #218 "`clg` semicolon"
Hey, your extension is great, but i have trouble with `clg` each and every day
When using arrow function and `clg` snippet, the semicolon at the end introduces syntax error

For example:
i am writing code like this:
[code]
this creates
[code]
which is obviously syntax error and i have to remove the semicolon
is there any chance the semicolon could be removed from the snippet? Thanks for the answer

[2022-01-22 11:36] mecirmartin commented on #218
@dsznajder
Created PR for this issue #219

[2022-01-22 12:17] bayuprathama opened #220 "_rfc / _rfce is gone in new version"
Basically it's snippet that create a react functional component without importing React at the top of the file. In the new version of the extension the snippet is no longer available

[2022-01-22 12:38] dsznajder commented on #220
Duplicate of #215. Please look at [README Options](https://github.com/dsznajder/vscode-react-javascript-snippets#options)

[2022-01-22 12:39] #220 closed

[2022-01-22 19:30] brking opened #221 "_rfc boiler plate"
The _rfc boilerplate was working last week but not today.  Any idea why?

[2022-01-22 20:13] MarianAct commented on #221
I have the same issue, it was worked 2-3 days ago but now it stopped working...

[2022-01-22 22:24] PabloPenia commented on #221
same here, I've reinstalled yesterday and discover that snippets changed, now without unserscore, for example `_rafce` now is `rafce`. But today stop working at all. Even the search shortcut is not working. When I use CTRL + SHIFT + R I get this message:

![Captura de pantalla_2022-01-22_19-22-08](https://user-images.githubusercontent.com/88749586/150657348-4b6bcd7e-57e6-4647-8cc1-ea67f99e4a25.png

[2022-01-23 00:13] nizzu1102 commented on #221
The extension was updated, to have the same settings go back to the previous version,
The option to install another version is in the context menu. Or the gear icon for each extension.

[2022-01-23 10:30] MarianAct commented on #221
I just downgraded to version 3.1.1 and worked for me, thanks.

[2022-01-23 12:07] dsznajder commented on #221
Duplicate of #215 #220

[2022-01-23 12:07] #221 closed

[2022-01-23 17:09] brking commented on #215
Thank you.

[2022-01-23 17:09] brking commented on #220
Thank you

[2022-01-23 17:12] brking commented on #221
I have seen the solution.  Basically, we still use rfc (instead of _rfc), but you need to got to the settings of ES7 and uncheck the setting for 'React Snippets > Settings: Import React on Top'... or just search for 'importreactontop'

[2022-01-23 23:55] PabloPenia opened #222 "New Snippets and searh stop working since last update"
Hi, sorry I know there a lot of issues about this topic but I read all closed issues, the read me and the list of snippets and still can't use the snippets.

After update I could use for example the old `_rafce` as `rafce` and works perfectly but in the last two days stop working. Also the search shortcut, see the pictures
![150657348-4b6bcd7e-57e6-4647-8cc1-ea67f99e4a25](https://user-images.githu

[2022-01-24 08:01] ibraim6 opened #223 "_rafce does not work on new update but works on 3.0"

[2022-01-24 11:18] dsznajder commented on #223
Duplicate of #215 #221 #220

[2022-01-24 11:18] #223 closed

[2022-01-24 11:29] HomyeeKing opened #224 "why append `Snippet` to every snippet 👎?"
the Vscode gives different Icon to differenciate snippet and api, why you append `Snippet` suffix👎?
it really  really makes me **uncomfortable**, I **have to** adapt the new name to find the snippet....

[2022-01-24 12:02] dsznajder commented on #224
@HomyeeKing to avoid auto-import confusion `Snippet` prefix was introduced to react hooks and only them. The rest of snippets should look the same as previously

[2022-01-24 12:02] #224 closed

[2022-01-24 14:36] BabkinAV commented on #222
I confirm the extension stopped working. Rolled back to 4.0.1 from marketplace version history, seems working fine now.

[2022-01-24 15:27] henningeiben commented on #212
I just installed v4.1.0, but still I don't get interfaces in favor of types.

Also `reactSnippets.settings.prettierEnabled` doesn't seem to have an impact.

[2022-01-25 13:17] edvein-rin opened #225 "PropTypes snippets line break"
Somewhere around a week ago I found that PropTypes snippets started to add a semicolon at the end. I had default config.

It worked like this:
[code]
While became:
[code]

I disabled semicolons in settings and they disappeared, but snippets added line break instead:
[code]

I tried to enable Prettier in settings but it did no change (however I thought it should fix this as probably it was Prettier

[2022-01-25 15:57] KostiantynO commented on #205
Thank you very much! Now it works!

[2022-01-25 16:51] aryankarim commented on #222
Same for me. I downgraded it to version 4.0.3 since the latest update isn't working.

[2022-01-25 17:04] dsznajder commented on #222
Going to dive into this during the weekend and resolve a bunch of those issues as I have now knowledge and stuff to work with. Thanks for your patience and feedback!

[2022-01-26 07:56] ShanuDey commented on #222
I am facing this same issue. Snippet suggestion is working after last update. Please have a look into this issue. BTW It was a awesome extension before this bug. :)

[2022-01-26 08:57] HomyeeKing commented on #224
@dsznajder  and no redux hooks snippet, what's this for, actually, I don't think this update is necessary, a lot of bad experience

[2022-01-27 20:58] xteqr1 commented on #222
Underscore commands like '_rfce' don't work too.

[2022-01-27 21:06] dsznajder commented on #222
@xteqr1 #223 #220 #215

[2022-01-28 09:35] johnwickakash12 opened #226 "snippets not working"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2022-01-28 14:17] AlaaCherif commented on #222
yep same thing thing for me hope this gets fixed soon

[2022-01-28 14:20] dsznajder commented on #222
@AlaaCherif Hope to release a new version by end of the week.

[2022-01-30 12:07] georgeat8 opened #228 "console.table support"
It seems that there is no `console.table` snippet available, any plan on adding it?

[2022-02-01 03:08] Jaimesanchezgalvis commented on #222
same problem, thansk god i was think i jus me

[2022-02-01 07:20] gladiatorgiftson opened #229 "Snippets Not working"
While the extension is enabled globally but still snippets are not on suggestion v -> 4.1.0

[2022-02-01 07:51] gladiatorgiftson commented on #229
downgrading to v -> 4.0.1 helps

[2022-02-01 07:51] #229 closed

[2022-02-01 11:55] Karen1998 commented on #226
@johnwickakash12 hey dude. Do u have any news?

[2022-02-01 11:58] elmcapp commented on #226
snippets are not registering

[2022-02-01 12:58] alxork commented on #226
Hello, same here, ES7+ React/Redux/React-Native snippets not a single one is working

[2022-02-01 14:38] Spider101 commented on #216
Any update on this? Not sure but I feel the `$0;` in this [line](https://github.com/dsznajder/vscode-react-javascript-snippets/blob/master/src/snippets/generated.json#L823) might be the culprit here.

[2022-02-01 22:08] D1White opened #230 "Extra semicolon in import snippets"
Most import snippets (like imp, ima, imd) have a newline and a semicolon. Is there a need for this or is it a bug?
Here is the result of the imd snippet:
`import { second } from 'first';`
`;`

[2022-02-02 05:01] maharjanaman commented on #141
@tgkei I'm having a similar issue. What was your issue in coc settings?

[2022-02-02 15:59] Wynston opened #231 "Git sometimes fails to load with extension enabled"
I'm not sure if its due to the load time of this extension but Git fails to load occasionally for me. On average it takes about 900ms for this extension to load, and disabling it seems to resolve my Git problem.

![Screen Shot 2022-02-02 at 9 54 53 AM](https://user-images.githubusercontent.com/23458594/152189647-4f963d72-06aa-4196-a077-2cf4c95447f1.png)

[2022-02-02 16:55] dsznajder commented on #231
@Wynston I'm currently working on fixing that, and avoiding prettier formatting for now as it's kinda buggy for some of the snippets. I have some work already done around that and will try to push it forward this weekend.

[2022-02-02 16:58] Wynston commented on #231
Awesome, thanks for the speedy reply @dsznajder :D

[2022-02-02 21:08] ArturoDent commented on #230
Same as https://github.com/dsznajder/vscode-react-javascript-snippets/issues/216

[2022-02-02 21:24] D1White commented on #230
I think this should solve the problem #232

[2022-02-03 07:27] Ankush-GH opened #233 "UNABLE TO USE EMMETS"
im ab unable to use emmets in my vs code ,emmets like rafce,rfce and such, i have installed es7  extenension but still im unable to resolve the problem

[2022-02-03 08:09] levinaHR opened #234 "Snippet return has no braces"
Snippets like rfc, rcc, rafc and such returns <_div_></_div_> in a single line without braces like this:
export default function Content() {
  return <_div_></_div_>
}

Is there any way to change it to this format?
export default function Content() {
   return (
     <_div_></_div_>
   )
}

Also for some reason even if I enable prettier integration it won't work. For example if i disable semicolon

[2022-02-03 09:16] sonterix commented on #226
The same for me. Snippets are not working at all

[2022-02-03 09:55] dsznajder commented on #233
#226 Duplicate of

[2022-02-03 09:55] #233 closed

[2022-02-03 16:31] enochmk commented on #226
The same for me. I've uninstalled and installed couple of times no change. I heavily depend on this extension. It's the most useful extension. Hope this is patched soon.

[2022-02-04 12:23] jan-vaclavik commented on #226
Same problem. Downgrade to 4.0.1 works for me.

![image](https://user-images.githubusercontent.com/35232007/152528262-6554a00e-3785-4877-9b0b-c3cb9522290a.png)

[2022-02-05 01:28] enochmk commented on #226
This works but I'm back with the annoying extra semi colon. Better than nothing.

[2022-02-06 10:27] aindriu80 commented on #226
Having trouble too, the underscore wouldn't work - e.g. _rfce so I tried removing the` import react from react ` in settings but that didn't work, then I tried an older version 4.03 but that didn't work so I went back to latest version 4.10 and it no longer does the import React.... however I am getting an extra semi colan
![2022-02-06_10-26](https://user-images.githubusercontent.com/8885837/15267

[2022-02-06 18:41] iamrealmarsel commented on #210
@dsznajder snippets dont work in `v4.1.0`

[2022-02-08 02:21] DavidArmendariz commented on #226
Any news on this? They are not working for me neither.

[2022-02-08 11:40] Karen1998 commented on #226
Downgrade to 4.0.1. See images above

[2022-02-08 12:05] dsznajder commented on #226
Hello 👋

I will be reverting prettier auto integration, mark it as experimental and resolve all issues this week. I've been sick past few days so that's why there is that delay. I'm sorry I rushed a little with this update, should test it more on my own. Right now I'm also thinking how I could automate testing to avoid this situations in future.

Sorry for interrupting your daily workflows.

🖖

[2022-02-08 23:19] dsznajder commented on #214
@wKovacs64 released in v4.3.0

[2022-02-08 23:19] #214 closed

[2022-02-08 23:20] dsznajder commented on #230
@D1White @ArturoDent fixed in v4.3.0

[2022-02-08 23:20] #230 closed

[2022-02-08 23:21] dsznajder commented on #231
@Wynston Let me know if v4.3.0 fixed this.

[2022-02-08 23:27] dsznajder commented on #226
Should be fixed by v4.3.1 @johnwickakash12

[2022-02-08 23:27] dsznajder commented on #222
@PabloPenia Fixed in v4.3.1

[2022-02-08 23:27] #222 closed

[2022-02-08 23:28] dsznajder commented on #216
@314857493 Fixed in v4.3.1

[2022-02-08 23:28] #216 closed

[2022-02-08 23:28] dsznajder commented on #225
@edvein-rin Fixed in v4.3.1

[2022-02-08 23:28] #225 closed

[2022-02-08 23:28] dsznajder commented on #218
@mecirmartin Fixed in v4.3.1

[2022-02-08 23:28] #218 closed

[2022-02-08 23:29] Wynston commented on #231
Sorry I was meaning to get back to you on this.  I'm not totally convinced this issue is solely caused by this plugin now:

I started experiencing the same issue again even though this plugin is disabled 🤔  I wonder if there's a performance concern when VSCode is booting and there are too many extensions enabled. I have about 15 extension at the moment which seems like a lot but is kinda necessary

[2022-02-08 23:29] dsznajder commented on #234
@levinaHR I made change to this, let me know if this is fixed by v4.3.1

[2022-02-08 23:32] dsznajder commented on #231
@Wynston previously I was generating and parsing those snippets on the fly. Right now it's a little bit more optimised as I removed prettier integration by default. I will still investigate how to optimise it further. There is also extension to debug startup times. Failures could be also debugged by `Developer Tools` inside VSCode

[2022-02-09 05:08] levinaHR commented on #234
It's fixed now, thank you!

[2022-02-09 05:08] #234 closed

[2022-02-09 11:33] enochmk commented on #226
It is fixed. I'm loving this update. Good work 👋

[2022-02-09 12:40] #226 closed

[2022-02-09 22:13] dsznajder commented on #228
@georgeat8 released as `ctl` in `v4.3.2`

[2022-02-09 22:13] #228 closed

[2022-02-09 22:19] kylelamse opened #237 "React 17 no longer needs React to be in scope"
With the release of React 17, is there going to be support for snippets that exclude the `import React from 'react';` statement from the top?  There could possibly be an option to detect what version is in the project, and automatically disable adding this.  As of now, my editor grays out the statement and displays a warning.
![image](https://user-images.githubusercontent.com/9343089/153299799-0f1

[2022-02-09 22:51] dsznajder commented on #237
@kylelamse take a look at options. There is `import React on Top` checkbox. After extension initialisation (i.e. open javascript/typescript file). Go to your settings, uncheck it and restart VSCode. Those snippets should't have this import from now on.

[2022-02-09 22:51] #237 closed

[2022-02-10 06:41] john-TC opened #238 "TypeScript props settings have no effect"
The settings `reactSnippets.settings.typescript` and `reactSnippets.settings.typescriptPropsStatePrefix` have no effect in `.tsx` files.

Line 3 should be removed or have `interface` keyword.

Snippet: `tsrafce`
![image](https://user-images.githubusercontent.com/35880688/153350931-69e1674e-49c1-4d34-89f2-9c54938f7287.png)

Awesome extension btw.

[2022-02-10 12:14] cheesyMan opened #239 "Snippets missing (VSCode + Win11)"
Several snippets seem no more there (they're not even in the list when I search for them).

i.e **imrs** (react + useState) or **imrse** (react + useState + useEffect)

[2022-02-10 16:16] john-TC commented on #238
So today I changed a setting and a pop up in the bottom right said please reload to apply extension settings. Now I can't change `interface` back to `type`. No pop ups. Changing `settings.json` doesn't do anything. Executing `Reload Window` from the command palette does nothing. Tried installing and uninstalling.

[2022-02-11 01:24] flyingduck92 opened #240 "Disable Import React On Top not working"
When I was using snippet "rfce" it keeps importing React on top.
I already untick Import React On Top

![image](https://user-images.githubusercontent.com/14885417/153523923-17b7174e-8504-45e8-a56b-b2584451dbdf.png)
![image](https://user-images.githubusercontent.com/14885417/153523907-fbb38ef5-fea2-4317-b068-328c74001822.png)
![image](https://user-images.githubusercontent.com/14885417/153524025-17c

[2022-02-11 07:09] dsznajder commented on #240
@flyingduck92 The tricky part with extension activation, it has to be enabled to generate those snippets with options. So first, try to open typescript file, then change option and restart your vscode.

[2022-02-11 08:28] dsznajder commented on #238
@john-TC The tricky part with extension activation, it has to be enabled to generate those snippets with options. So first, try to open typescript file, then change option and restart your vscode.

[2022-02-11 16:26] john-TC commented on #238
So I opened a blank instance of VS Code, created a new file with `ctrl + n`, changed the language mode to TypeScript, and changed a setting. It worked and got the pop up to restart VS Code.

![image](https://user-images.githubusercontent.com/35880688/153629267-9726a83f-4dd1-46f5-ad53-218ee944856b.png)

It's a problem with VS Code and not with the extension. Thanks for the tip.

[2022-02-11 16:37] john-TC commented on #238
Is it possible to detect settings changes with `.tsx` files and not only `.ts`?

[2022-02-11 19:01] dsznajder commented on #238
@john-TC it detects `javascript,javascriptreact,typescript,typescriptreact` as language so it will activate on both `.ts` and `.tsx`

[2022-02-11 19:01] #238 closed

[2022-02-11 19:45] MarkLyck opened #241 "`importReactOnTop ` setting does not work."
After upgrading to the latest version that removed the _ shortcuts in favor of "importReactOnTop" I can no longer get the extension to stop importing React at the top.

I have tried with the setting both on and off (For both user and workspace) and the plugin behaves the same.

![Screen Shot 2022-02-11 at 14 43 24](https://user-images.githubusercontent.com/6841110/153658885-9cb6220a-c260-4728-9ac4

[2022-02-17 15:55] #231 closed

[2022-02-18 10:27] rpayeras opened #242 "Suggestions/Snippets stopped working from 4.4.0"
Hi! suggestions have stopped working since last update (rafc), with 4.3.2 now it works perfectly. Im using vs code on ubuntu 20.04, i have also emmet with "javascript: javascriptreact" enabled from last days if it helps.
Im been changing some emmet options without result from another issues that I have seen here.

Thanks for your awesome work!

[2022-02-18 12:46] asdf1414 commented on #242
Same problem for me too. Suggestions and snippets no longer work for me either on Windows 10, VsCode v1.64.2, Extension v4.4.0

[2022-02-18 13:13] dsznajder commented on #242
@rpayeras should be fixed in v4.4.3

[2022-02-18 13:13] #242 closed

[2022-02-22 19:57] max-content opened #243 "Multi line rafce snippet"
Is there a plan to add the multiline snippet for rafce? It now defaults to the single line option and it's pretty frustrating.

[2022-02-22 19:59] #243 closed

[2022-02-22 19:59] max-content commented on #243
I think i figured out an alternative as soon as i posted...

[2022-02-27 01:32] DavidArmendariz opened #244 "reactSnippets.settings.importReactOnTop not working"
This configuration is not working. When I set this in my `settings.json`:

[code]

And then try to use any snippet, it is still importing React on the top.

[2022-02-27 10:53] harenty opened #245 "Error on nvim vim-plug"
Hi, I got this error after installing this on nvim via vim-plug on Mac M1 Pro. No luck for this on the internet, any idea for this would be appreciate.

<img width="616" alt="image" src="https://user-images.githubusercontent.com/80365442/155879457-5167f163-3fa9-4e1c-8ff8-356aef017e15.png">

[2022-02-27 11:13] dsznajder commented on #244
@DavidArmendariz please provide full settings.json related to `reactSnippets` and some repro as on my end works fine.

[2022-02-28 16:15] Lamer217 opened #246 "useState snippet is not working correctly"
This is what the snippet returns:
('description' added by me when trying out)
![image](https://user-images.githubusercontent.com/62716818/156017754-2b5dc4b5-8bb6-4be3-8d87-d583d533bf3c.png)

[2022-02-28 16:20] DavidArmendariz commented on #244
@dsznajder I don't have any other configurations related to `reactSnippets`. I only have this in my `settings.json`:

[code]

The repro would be to type some command like `rafce`. It would give me something like this:

[code]

[2022-02-28 16:27] dsznajder commented on #244
Did you reload vscode after changing this settings as extension said?

[2022-02-28 16:51] dsznajder commented on #246
https://user-images.githubusercontent.com/17621507/156024032-fce590b5-9a85-40bb-b966-4aac524bfd96.mov

@Lamer217 hmm are you using newest version? I just tried it on my own and it works fine 🤔

[2022-02-28 18:23] DavidArmendariz commented on #244
@dsznajder Yes!

[2022-03-02 13:41] Lamer217 commented on #246
Seems like everything should be working, but somehow it doesn't. Tried also reinstalling. What info can I provide for easier debugging?

https://user-images.githubusercontent.com/62716818/156372618-6473828b-e7aa-4a33-b032-e7238efa72f8.mp4

[2022-03-05 18:30] MuttakinHasib opened #247 "typescriptPropsStatePrefix not working"
![image](https://user-images.githubusercontent.com/44552983/156895799-4c16496b-aa06-4d9b-afb7-906618bcb588.png)

generating
![image](https://user-images.githubusercontent.com/44552983/156895816-9f4ebd9d-31ed-4b16-849a-d10201c34109.png)

[2022-03-05 18:35] MuttakinHasib commented on #247
@dsznajder please check

[2022-03-10 10:30] NikolaKrsticFFWD opened #248 "jsx attribute auto completion (auto option) not working after certain prop type, but works before it"
`backgroundColor` successfully auto completed to `backgroundColor=""` before `imgStyle={{position:"absolute"}}`
![image](https://user-images.githubusercontent.com/95031295/157642390-06598a8c-cec3-40f3-bde1-8c0b9ee2e1e5.png)

but it fails to auto complete after the `imgStyle={{position:"absolute"}}`

![image](https://user-images.githubusercontent.com/95031295/157642830-025d1c20-bd2a-47c3-aff4-032b3

[2022-03-10 10:37] radoRandriamahandry opened #249 "React 17 workaround doesn't work anymore"
Hi,
I don't know if it's because of the Win 11 update or VSCode but using "_" doesn't work anymore. eg : _rfce shows nothing.
Thank you.

[2022-03-10 13:55] aafrinabid opened #250 "Auto selection of of component name after creating a function component ."
![issue](https://user-images.githubusercontent.com/97826673/157673105-a75e70d1-52ee-4ac6-92c2-310ef6913d44.png)
This has been the issue that I have been facing for quite a while for some it may not be that much of an issue but for me personally, it's been tough cause as you can see when we try to backspace the whole code gets altered and inside the div tag there is no need of the FirstName so its

[2022-03-12 08:12] dsznajder commented on #249
@radoRandriamahandry there is no `_`. Instead you have settings for react top import.

[2022-03-12 08:12] #249 closed

[2022-03-12 08:13] dsznajder commented on #248
@NikolaKrsticFFWD why should this extension cover this? It's because of types in libraries, not by extension for snippets 😅

[2022-03-12 08:13] #248 closed

[2022-03-13 22:00] sandeep1407 opened #251 "imrs not working"
Hi, I am using this extension and trying to import react with useState so I am using imrs which is not working in VS Code.

[2022-03-14 10:40] radoRandriamahandry commented on #249
Ok, didn't read the doc, Thank you for your help.

[2022-03-15 13:10] forinda opened #252 "_rafce not working"
I loved the template created without necessarily  having `import React from  "react"`
In thelatest version that seems to have gone away but it was really amazing crating the functional components with that snippet.
I'm just requesting if the feature could be revived again
i.e
[code]
### instead of
[code]

[2022-03-15 13:30] dsznajder commented on #252
#249 #220 #221 #215 duplicate

[2022-03-15 13:30] #252 closed

[2022-03-19 04:45] jrafaaael opened #253 "how to set the option `importReactOnTop` in neovim?"

[2022-04-01 14:34] stramin opened #254 "Can I set a default indentation for snippets?"
I like to write my code using tab for indentation, but when I use any snippet from ES7+ it writes 2 spaces for indentation.

I think ES7+ should use indentation from VS Code setting.

Is there any way to configure this behaviour?

[2022-04-06 18:11] opes commented on #244
I had this same issue recently start happening. I resolved it by toggling the setting on & off again, then invoking `Developer: Reload Window`.

[2022-04-07 09:31] ashuvax commented on #246
#255
I put a fix to it in the file

[2022-04-07 09:33] ashuvax commented on #254
I did not understand you can you send a video?

[2022-04-07 09:54] ashuvax commented on #251
#255

[2022-04-15 16:22] dougbeckwith commented on #244
I'm also having the same issue with ImportReactOnTop setting not working

settings.json is set to this
`"reactSnippets.settings.importReactOnTop": false,`

When i use the rafce snippet it generates

`import React from 'react'

const index = () => {
  return (
    <div>index</div>
  )
}

export default index`

please fix thanks :)

[2022-04-18 11:33] apicgg commented on #251
Same here. Is this feature being done? @dsznajder

[2022-04-29 02:50] bradenmitchell commented on #244
I am also experiencing this issue. I have done the following steps and it still places the import statement at the top:

1. Set `"reactSnippets.settings.importReactOnTop": true`
2. Reloaded window
3. Ran `rfc` confirm import statement is present
4. Set `"reactSnippets.settings.importReactOnTop": false`
5. Reloaded window
6. Ran `rfc` confirm import statement is still present (should not be present

[2022-05-04 00:51] marcosmarp opened #258 "En dash on file name causes invalid syntax"
When using a snippet that uses the current file name, and that file name have a `-` on it, it causes invalid syntax.

Example with `tsrafce`

[code]

A `-` on a function name isn't valid so something like this would be nice:

[code]

Thanks!

[2022-05-17 18:40] Anjaneekumar opened #259 "snippet and auto complete & suggestion not working"
Always has to reinstall the extension to get things working smooth .. otherwise stops suggesting , auto import and snippets too . Please help with this isssue
![image](https://user-images.githubusercontent.com/51997810/168886210-d021eacc-aca1-441a-8c4f-e4c897244c4e.png)

It should be suggesting <BrowserRouter> but is not working .. simillar with all react functions

[2022-05-27 11:51] iamshadmirza opened #261 "Is there a way to override some snippets?"
Hey @dsznajder

I have been using this extension heavily and I love it. I prefer using named exports over default exports everywhere.
Is there a way I can override the snippets to use named export every time?

[2022-05-27 13:12] ice-chillios commented on #261
@iamshadmirza there are some different snippets exactly for named exports. If any is missing, feel free to open PR.

[2022-05-27 13:12] #261 closed, assigned to nobody

[2022-06-19 16:00] tux-sols opened #262 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `es7-react-js-snippets`
- Extension Version: `4.4.3`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.68.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-06-19 16:01] tux-sols commented on #262
Activation unresponsive

[2022-06-29 06:35] ghost opened #264 "Provide a way to enable/disable individual snippets"
I find myself only using a handful of snippets (I never use class component and redux related snippets) and was wondering if I could enable/disable snippets arbitrarily

[2022-07-03 16:35] bsjaramillo opened #265 "Unsupported event on StartupFinished of es7-react-js-snippets"
I'm trying to install this plugin for nvim, i've installed it running with yarn install --frozen-lockfile && yarn compile, but i got that error:
![image](https://user-images.githubusercontent.com/33032851/177048908-3dc82b42-83ce-4a8f-a757-9a1b322a9347.png)

[2022-07-04 12:38] #264 closed, assigned to nobody

[2022-07-04 12:39] ghost commented on #264
I'm just copy pasting the generated snippets and deleting what I don't need I guess

[2022-07-19 16:54] hossein-nas opened #266 "It uses a lot of cpu time compared to other extensions"
- Issue Type: `Bug`
- Extension Name: `es7-react-js-snippets`
- Extension Version: `4.4.3`
- OS Version: `Linux x64 5.15.0-41-generic`
- VS Code version: `1.69.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-07-22 00:01] abdurahman-harouat commented on #265
i'm getting the same error ..and i think it's working fine .. but still annoying

[2022-08-01 10:29] 4nur4g opened #267 ""imbrr" not importing router, instead, imports ImageBitmapRenderingContext"
Expected: imbr => import {router} from 'react-router-dom'
Actual behavior: imbr =>  ImageBitmapRenderingContext

[2022-08-04 09:32] priyomukul commented on #246
`useStateSnippet` is working properly for me (not from snippet search though) but it's not updating the import at the top automatically.

is there any way to fix it. options to solve it? @dsznajder

[2022-08-04 11:06] ice-chillios commented on #246
@priyomukul probably not as it would need to trigger 2 hooks on one input :/ I'm annoyed as you with this 😓 I might ask someone from VSCode team, but currently I'm really out of time :/.

[2022-08-09 15:49] Rz-Rz commented on #245
Same :(

[2022-08-23 01:40] w1zd commented on #265
Remove `"onStartupFinished"` event in plugin's `package.json` .
![image](https://user-images.githubusercontent.com/3397889/186049156-86b2901b-e7bd-4226-8957-05b2d107ba03.png)

I assume this event is supported by VSCode but not by coc.nvim, because this plugin is actually for VSCode.

[2022-08-28 06:45] aumirza opened #270 "Showing snippets intellisence in place of import path"
When I am trying to import a file and it shows up snippets intellisnece in place of paths or files and folder .

[2022-09-05 11:54] SyMind opened #271 "Should automatically capitalized the first character of component name"
When my file name is `app.tsx`, the component name should be `App`, but now is `app`.

[2022-09-07 16:01] Nyhz opened #273 "'imrse' not appearing as a Snippet"
Expeected behaviour:

import React, { useState, useEffect } from 'react'

Actual behaviour:

I write imrse and it doenst suggest any Snippet.

(Every other snipper works correctly, so the extension is installed)

[2022-09-13 07:43] safaksonmez commented on #273
Same for me.Other snippets working("rafce,rfce" .etc) but "imrse" doesn't work.

[2022-09-16 13:54] #246 closed

[2022-10-05 15:26] qbr-dude commented on #271
You can replace **capitalize** with **pascalcase** to handle more cases.
For example,  `'first-second'` => `FirstSecond`

[2022-10-06 19:46] ScriptAlchemist commented on #141
@tgkei do you mind sharing was you changed in the Coc setting? I'm also curious on this setup. I think I'm going to just use VScode for next.js right now, but I'd love to have this in vim.

[2022-10-28 23:26] chadleong opened #275 "Disable import React from 'react'"
Since this statement is no longer needed in React 17+, can this be disabled while using `rafce`

[2022-10-30 06:38] CharaD7 opened #276 "Yarn Warning when compiling for neovim: warning es7-react-js-snippets@4.4.3: The engine "vscode" appears to be invalid."
`yarn install --frozen-lockfile` and `yarn compile` both return error `warning es7-react-js-snippets@4.4.3: The engine "vscode" appears to be invalid.`

[2022-10-31 06:27] totti-rdz commented on #275
In the extension settings there is a setting called  "Import React On Top" that "controls if snippets should add import React from 'react'; at the top of components. Use if you have React +17 and use jsx transform."
I'm pretty sure, you're looking for that.

PS. works on VS Code

[2022-10-31 06:45] totti-rdz opened #277 "add useState import to useStateSnippet"
I'm kinda confused as I'm pretty sure, that I've used this vs code extension on my old macbook that died in june.
But on my old machine the shortcut for the useState snippet was "useState" instead of "useStateSnippet", which lead to confusions, so "useStateSnippet" is the better shortcut.

Anyway the old snippet always updated the React import if useState hasn't been imported yet in the file. And

[2022-10-31 22:32] chadleong commented on #275
Thanks that does the trick !

[2022-10-31 22:32] #275 closed, assigned to nobody

[2022-11-14 16:11] aciulpan commented on #244
I am also having this issue. I am running the latest version (4.4.3) with the setting on false and it still imports React when i use the snippets

[2022-11-20 12:55] Abhijit47 opened #278 "Extension issue !!!Huge Activation Time. VSCode lost its performance Try to fix this issue with this extension it's a great extension."
- Issue Type: `Bug`
- Extension Name: `es7-react-js-snippets`
- Extension Version: `4.4.3`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.70.1`

### **!!!Huge Activation Time. VSCode lost its performance Try to fix this issue with this extension it's a great extension.**

![image](https://user-images.githubusercontent.com/59195447/202902704-641f027c-8a40-497f-b693-ec5d673aa44c.png

[2022-11-20 16:54] csfx-py commented on #244
have the same issue, any updates on this?

[2022-11-28 07:34] bonbonsiregar commented on #278
same, 1051ms on my machine

[2022-11-28 08:09] Nick-HK commented on #278
@bonbonsiregar @Abhijit47
Would be great to have a list of other extensions that you have to further investigate, Thanks!